<!DOCTYPE html>
<!-- ヘッダ要素 -->
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>Components List</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- css -->
  <link rel="stylesheet" href="/etc/clientlibs/common/lib/css/normalize.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/basic/css/basic.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/component/css/slick.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/component/css/component.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/option/css/option.css">
  <!-- / css -->
  <!-- debug css -->
  <link rel="stylesheet" href="/apps/kao/sites/common/components/clientlibs/css/debug.css">
  <!-- / debug css -->

  <!-- script -->
  <script src="/etc/clientlibs/common/lib/js/modernizr.custom.js"></script>
  <script src="/etc/clientlibs/common/lib/js/jquery.min.js"></script>
  <script src="/etc/clientlibs/common/component/js/jquery.extend.js"></script>
  <script src="/etc/clientlibs/common/component/js/slick.js"></script>
  <script src="/etc/clientlibs/common/component/js/carousel.js"></script>
  <script src="/etc/clientlibs/common/component/js/component.js"></script>
  <!-- / script -->
  <!-- debug script -->
  <script src="/apps/kao/sites/common/components/clientlibs/js/jquery.tmpl.min.js"></script>
  <script src="/apps/kao/sites/common/components/clientlibs/js/debug.js"></script>
  <!--<script src="/etc/clientlibs/common/authoring/component/js/component-authoring.js"></script>-->
  <!-- debug script -->
</head>

<body>
<div id="wrapper">

<!-- contents -->
<div class="g-Area" id="area-Contents">
<div class="g-Section">
<div class="g-Section__inner">

<div class="backBtn">
  <a href="javascript:history.back()">← back</a>
</div>

<h1>コンポーネント一覧</h1>

<h2>Global Components : Layout</h2>
<div>
  <ul>
    <li><a href="lay/G_LAY_002_GroupBox.html">G_LAY_002: Group Box</a></li>
    <li><a href="lay/G_LAY_003_AccordionMenu.html">G_LAY_003: Accordion Menu</a></li>
    <li><a href="lay/G_LAY_004_Column.html">G_LAY_004: Column Separator</a></li>
    <li><a href="lay/G_LAY_005_Section.html">G_LAY_005: Section Wrapper</a></li>
  </ul>
</div>

<h2>Global Components : Navigation</h2>
<div>
  <ul>
    <li><a href="nav/G_NAV_001_KaoCommonHeader.html">G_NAV_001: Global Header( Kao Japan Version )</a></li>
    <li><a href="nav/G_NAV_002_KaoCommonFooter.html">G_NAV_002: Global Footer( Kao Japan Version )</a></li>
    <li><a href="nav/G_NAV_002_SofinaCommonFooter.html">G_NAV_002: Global Footer( Sofina Version )</a></li>
    <li><a href="nav/G_NAV_003_BrandHeader.html">G_NAV_003: G_NAV_003: Brand Header</a></li>
    <li><a href="nav/G_NAV_003_BrandHeader_fixed.html">G_NAV_003: G_NAV_003: Brand Header( fixed )</a></li>
    <li><a href="nav/G_NAV_003_BrandHeader_fixed2.html">G_NAV_003: G_NAV_003: Brand Header( lg:fixed, md:normal, sm:normal )</a></li>
    <li><a href="nav/G_NAV_003_BrandHeader_fixed3.html">G_NAV_003: G_NAV_003: Brand Header( lg:normal, md:fixed, sm:normal )</a></li>
    <li><a href="nav/G_NAV_003_BrandHeader_fixed4.html">G_NAV_003: G_NAV_003: Brand Header( lg:normal, md:normal, sm:fixed )</a></li>
    <li><a href="nav/G_NAV_004_BrandFooter.html">G_NAV_004: Brand Footer</a></li>
    <li><a href="nav/G_NAV_005_Breadcrumbs.html">G_NAV_005: Breadcrumbs</a></li>
    <li><a href="nav/G_NAV_006_LocalNavigation.html">G_NAV_006: Local Navigation</a></li>
    <li><a href="nav/G_NAV_007_SocialFunction.html">G_NAV_007: Social Function</a></li>
    <li><a href="nav/G_NAV_008_PageTopLink.html">G_NAV_008: Page Top Link</a></li>
  </ul>
</div>

<h2>Global Components : Content</h2>
<div>
  <ul>
    <li><a href="cont/G_CON_001_PageTitleItem.html">G_CON_001: Page Title (h1) Item</a></li>
    <li><a href="cont/G_CON_002_HeadingTitleItem.html">G_CON_002: Heading Title Item</a></li>
    <li><a href="cont/G_CON_003_TextItem.html">G_CON_003: Text Item</a></li>
    <li><a href="cont/G_CON_004_ImageItem.html">G_CON_004: Image Item</a></li>
    <li><a href="cont/G_CON_005_MovieItem.html">G_CON_005: Movie Item</a></li>
    <li><a href="cont/G_CON_006_LabelTagP.html">G_CON_006: Label Tag Pack</a></li>
    <li><a href="cont/G_CON_007_HRItem.html">G_CON_007: HR Item</a></li>
    <li><a href="cont/G_CON_008_ListP.html">G_CON_008: List Pack</a></li>
    <li><a href="cont/G_CON_009_AnnotationListP.html">G_CON_009: Annotation List Pack</a></li>
    <li><a href="cont/G_CON_010_TelephoneCallItem.html">G_CON_010: Telephone Call Item</a></li>
    <li><a href="cont/G_CON_011_TextLinkP.html">G_CON_011: Text Link Pack</a></li>
    <li><a href="cont/G_CON_012_ButtonP.html">G_CON_012: Button Pack</a></li>
    <li><a href="cont/G_CON_013_LinkButtonItem.html">G_CON_013: Link/Button Item</a></li>
    <li><a href="cont/G_CON_014_LinksButtonsP.html">G_CON_014: Links Buttons Pack</a></li>
    <li><a href="cont/G_CON_015_TileLinkVP.html">G_CON_015: Tile Link Pack (Vertical)</a></li>
    <li><a href="cont/G_CON_016_TileLinkHP.html">G_CON_016: Tile Link Pack (Horizontal)</a></li>
    <li><a href="cont/G_CON_017_TileLinkTextP.html">G_CON_017: Tile Link Pack (Text)</a></li>
    <li><a href="cont/G_CON_018_BannerLinkP.html">G_CON_018: Banner Link Pack</a></li>
    <li><a href="cont/G_CON_019_FullwidthVisualsCarouselP.html">G_CON_019: Fullwidth Visuals & Carousel Pack</a></li>
    <li><a href="cont/G_CON_020_ImageTextVP.html">G_CON_020: Image &amp; Text Pack (Vertical)</a></li>
    <li><a href="cont/G_CON_021_ImageTextHP.html">G_CON_021: Image &amp; Text Pack (Horizontal)</a></li>
    <li><a href="cont/G_CON_022_MovieTextVP.html">G_CON_022: Movie &amp; TextPack (Vertical)</a></li>
    <li><a href="cont/G_CON_023_MovieTextHP.html">G_CON_023: Movie &amp; TextPack (Horizontal)</a></li>
    <li><a href="cont/G_CON_024_NewsIndexP.html">G_CON_024: News Index Pack</a></li>
    <li><a href="cont/G_CON_025_QAP.html">G_CON_025: Q&amp;A Pack</a></li>
    <li><a href="cont/G_CON_026_SocialSharingItem.html">G_CON_026: Social Sharing Item</a></li>
    <li><a href="cont/G_CON_028_MapItem.html">G_CON_028: Map Item</a></li>
    <li><a href="cont/G_CON_029_DefinitionListP.html">G_CON_029: Definition List Pack</a></li>
    <li><a href="cont/G_CON_030_MapAccessVP.html">G_CON_030: Map Access Pack (Vertical)</a></li>
    <li><a href="cont/G_CON_031_MapAccessHP.html">G_CON_031: Map Access Pack (Horizontal)</a></li>
    <li><a href="cont/G_CON_032_SlideImageP.html">G_CON_032: Slide Image Pack (Demo)</a></li>
    <li><a href="cont/G_CON_033_YouTubeVideoItem.html">G_CON_033: YouTube Video Item</a></li>
    <li><a href="cont/G_CON_034_FacebookPostItem.html">G_CON_034 Facebook Post Item</a></li>
    <li><a href="cont/G_CON_035_TwitterPostItem.html">G_CON_035: Twitter Post Item</a></li>
    <li><a href="cont/G_CON_036_InstagramPostItem.html">G_CON_036: Instagram Post Item</a></li>
  </ul>
</div>

<h2>Local Components : Kao</h2>
<div>
  <ul>
    <li><a href="../../../kao/components/content/kao/L_KAO_001_StoreLinkP.html">L_KAO_001_Store Link Pack</a></li>
  </ul>
</div>

<h2>Other : テストページなど</h2>
<div>
  <ul>
    <li><a href="test/layer.html">Layer</a></li>
    <li><a href="test/layer_pane.html">Layer ( Paneあり )</a></li>
    <li><a href="../../templates/">テンプレート</a></li>
    <li><a href="test/bgTest.html">Backgroundテスト</a></li>
    <li><a href="test/EditorTest.html">InPlaceEditorテスト</a></li>
    <li><a href="test/MarginPaddingTest.html">MarginPaddingテスト</a></li>
    <li><a href="test/context_disable.html">コピー禁止テスト</a></li>
    <li><a href="test/video_test.html">videojsデモ</a></li>
    <li><a href="test/contentsgate_test/">コンテンツゲート</a></li>
  </ul>
</div>

</div>
</div>
<!--/contents--></div>


<!--/wrapper--></div>

<!-- breakpoint -->
<div id="js-breakpoint--lg"></div>
<div id="js-breakpoint--md"></div>
<div id="js-breakpoint--sm"></div>

</body>
</html>
