<!DOCTYPE html>
<!-- ヘッダ要素 -->
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>Item List</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- css -->
  <link rel="stylesheet" href="/etc/clientlibs/common/lib/css/normalize.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/basic/css/basic.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/component/css/slick.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/component/css/component.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/option/css/option.css">
  <!-- / css -->
  <!-- debug css -->
  <link rel="stylesheet" href="/apps/kao/sites/common/components/clientlibs/css/debug.css">
  <!-- / debug css -->

  <!-- script -->
  <script src="/etc/clientlibs/common/lib/js/modernizr.custom.js"></script>
  <script src="/etc/clientlibs/common/lib/js/jquery.min.js"></script>
  <script src="/etc/clientlibs/common/component/js/jquery.extend.js"></script>
  <script src="/etc/clientlibs/common/component/js/slick.js"></script>
  <script src="/etc/clientlibs/common/component/js/carousel.js"></script>
  <script src="/etc/clientlibs/common/component/js/component.js"></script>
  <!-- / script -->
  <!-- debug script -->
  <script src="/apps/kao/sites/common/components/clientlibs/js/jquery.tmpl.min.js"></script>
  <script src="/apps/kao/sites/common/components/clientlibs/js/debug.js"></script>
  <!--<script src="/etc/clientlibs/common/authoring/component/js/component-authoring.js"></script>-->
  <!-- debug script -->
</head>

<body>

  <div id="wrapper">
    <noscript>
      <div class="noscript">To view this website correctly, please ensure you have
        <span>JavaScript enabled.</span>
        <br />Some of the website layout and links may not function properly with JavaScript disabled.</div>
    </noscript>

    <!-- area-Contents -->
    <div class="g-Area" id="area-Contents">
      <div class="g-Section" id="common_section_wrapper_3">
        <div class="g-Section__inner">
          <div class="g-Column js-uniformHeight" id="common_column_separator_3" data-uniform-target="g-ColumnUnit">
            <div class="g-Column__inner">

              <div class="g-Column__cols g-Column__cols-lg-1 g-Column__cols-md-1 g-Column__cols-sm-1">
                <div class="g-ColumnUnit">
                  <div class="g-Text l-Text">
                    <p class="cmn-richtext">
                      <span>
                        <span class="opt-fontcolor--01">opt-fontcolor--01</span><br />
                        <span class="opt-fontcolor--02">opt-fontcolor--02</span><br />
                        <span class="opt-fontcolor--03">opt-fontcolor--03</span><br />
                        <span class="opt-fontcolor--04">opt-fontcolor--04</span><br />
                        <span class="opt-fontcolor--05">opt-fontcolor--05</span><br />
                        <span class="opt-fontcolor--06">opt-fontcolor--06</span><br />
                        <span class="opt-fontcolor--07">opt-fontcolor--07</span><br />
                        <span class="opt-fontcolor--08">opt-fontcolor--08</span><br />
                        <span class="opt-fontcolor--09">opt-fontcolor--09</span><br />
                        <span class="opt-fontcolor--10">opt-fontcolor--10</span><br />
                        <span class="opt-fontcolor--11">opt-fontcolor--11</span><br />
                        <span class="opt-fontcolor--12">opt-fontcolor--12</span><br />
                        <span class="opt-fontsize--xs">opt-fontsize--xs</span><br />
                        <span class="opt-fontsize--s">opt-fontsize--s</span><br />
                        <span class="opt-fontsize--l">opt-fontsize--l</span><br />
                        <span class="opt-fontsize--xl">opt-fontsize--xl</span><br />
                        <span class="opt-fontsize--xxl">opt-fontsize--xxl</span><br />
                        <span class="opt-fontsize--xxxl">opt-fontsize--xxxl</span><br />
                        <span class="opt-fontsize--xxxxl">opt-fontsize--xxxxl</span><br />
                        <span class="opt-fontfamily--01">opt-fontfamily--01</span><br />
                        <span class="opt-fontfamily--02">opt-fontfamily--02</span><br />
                        <span class="opt-fontfamily--03">opt-fontfamily--03</span><br />
                        <span class="opt-fontfamily--04">opt-fontfamily--04</span><br />
                        <span class="opt-fontfamily--05">opt-fontfamily--05</span><br />
                        <span class="opt-fontfamily--06">opt-fontfamily--06</span><br />
                      </span>
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="g-Section" id="common_section_wrapper_1">
        <div class="g-Section__inner">
          <div class="g-Column js-uniformHeight" id="common_column_separator_1" data-uniform-target="g-ColumnUnit">
            <div class="g-Column__inner">

              <div class="g-Column__cols g-Column__cols-lg-1 g-Column__cols-md-1 g-Column__cols-sm-1">
                <div class="g-ColumnUnit">
                  <div class="g-PageTitle l-PageTitle is-layoutL">
                    <div class="g-PageTitle__titleBlock l-PageTitle__titleBlock">
                      <div class="g-PageTitle__titleBlock__titleBox l-PageTitle__titleBlock__titleBox">
                        <div class="g-PageTitle__titleBlock__titleBox__title l-PageTitle__titleBlock__titleBox__title">
                          <h1 class="g-PageTitle__h1 l-PageTitle__h1">
                            <span class="cmn-richtext">
                              <span><span class="opt-fontcolor--01">吾輩</span>は<span class="opt-fontcolor--02">猫</span>である</span>
                            </span>
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="g-Text l-Text">
                    <p class="cmn-richtext">
                      <span>　吾輩（わがはい）は
                        <span class="opt-fontcolor--03">猫</span>である。名前はまだ無い。
                        <br />　どこで生れたかとんと見当（けんとう）がつかぬ。何でも薄暗いじめじめした所で<span class="opt-fontcolor--04">ニャーニャー</span>泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪（どうあく）な種族であったそうだ。この書生というのは時々我々を捕（つかま）えて煮（に）て食うという話である。しかしその当時は何という考もなかったから別段<span class="opt-fontsize--xs">恐しい</span>とも思わなかった。ただ彼の掌（てのひら）に載せられてスーと持ち上げられた時何だか<span class="opt-fontsize--s">フワフワ</span>した感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始（みはじめ）であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで<span class="opt-fontsize--l">薬缶（やかん）</span>だ。その後（ご）猫にもだいぶ逢（あ）ったがこんな片輪（かたわ）には一度も出会（でく）わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙（けむり）を吹く。どうも咽（む）せぽくて実に弱った。これが人間の飲む煙草（たばこ）というものである事はようやくこの頃知った。

                      </span>
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="g-Section" id="common_section_wrapper_2">
        <div class="g-Section__inner">
          <div class="g-Column js-uniformHeight" id="common_column_separator_2" data-uniform-target="g-ColumnUnit">
            <div class="g-Column__inner">

              <div class="g-Column__cols g-Column__cols-lg-1 g-Column__cols-md-1 g-Column__cols-sm-1">
                <div class="g-ColumnUnit">
                  <div class="g-HeadingTitle l-HeadingTitle">
                    <div class="g-HeadingTitle__titleBlock l-HeadingTitle__titleBlock">
                      <div class="g-HeadingTitle__titleBlock__titleBox l-HeadingTitle__titleBlock__titleBox">
                        <div class="g-HeadingTitle__titleBlock__titleBox__title l-HeadingTitle__titleBlock__titleBox__title">
                          <h2 class="g-HeadingTitle__h2 l-HeadingTitle__h2">
                            <span class="cmn-richtext">
                              <span><span class="opt-fontcolor--05">坊</span>っちゃん

                              </span>
                            </span>
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="g-Text l-Text">
                    <p class="cmn-richtext">
                      <span>　親譲（おやゆず）りの<span class="opt-fontcolor--06">無鉄砲</span>（むてっぽう）で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰（こし）を抜（ぬ）かした事がある。なぜそんな無闇（むやみ）をしたと聞く人があるかも知れぬ。<span class="opt-fontcolor--07">別段深い理由でもない。</span>新築の二階から首を出していたら、<span class="opt-fontsize--xl">同級生</span>の一人が冗談（じょうだん）に、いくら威張（いば）っても、そこから飛び降りる事は出来まい。<span class="opt-fontcolor--08">弱虫やーい</span>。と囃（はや）したからである。小使（こづかい）に負ぶさって帰って来た時、おやじが<span class="opt-fontsize--xxl">大きな眼（め）</span>をして二階ぐらいから飛び降りて腰を抜かす奴（やつ）があるかと云（い）ったから、この次は抜かさずに飛んで見せますと答えた。

                      </span>
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="g-Section" id="common_section_wrapper_3">
        <div class="g-Section__inner">
          <div class="g-Column js-uniformHeight" id="common_column_separator_3" data-uniform-target="g-ColumnUnit">
            <div class="g-Column__inner">

              <div class="g-Column__cols g-Column__cols-lg-1 g-Column__cols-md-1 g-Column__cols-sm-1">
                <div class="g-ColumnUnit">
                  <div class="g-HeadingTitle l-HeadingTitle">
                    <div class="g-HeadingTitle__titleBlock l-HeadingTitle__titleBlock">
                      <div class="g-HeadingTitle__titleBlock__titleBox l-HeadingTitle__titleBlock__titleBox">
                        <div class="g-HeadingTitle__titleBlock__titleBox__title l-HeadingTitle__titleBlock__titleBox__title">
                          <h2 class="g-HeadingTitle__h2 l-HeadingTitle__h2">
                            <span class="cmn-richtext">
                              <span>虞美人草

                              </span>
                            </span>
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="g-Text l-Text">
                    <p class="cmn-richtext">
                      <span>「随分遠いね。元来（がんらい）どこから登るのだ」
                        <br /> と一人（ひとり）が<span class="opt-fontcolor--09">手巾（ハンケチ）</span>で額（ひたい）を拭きながら立ち留（どま）った。

                        <br /> 「どこか己（おれ）にも<span class="opt-fontsize--xxxl">判然</span>せんがね。どこから登ったって、同じ事だ。山はあすこに見えているんだから」

                        <br /> と顔も体躯（からだ）も四角に出来上った男が<span class="opt-fontcolor--10">無雑作（むぞうさ）</span>に答えた。

                        <br /> 　反（そり）を打った中折れの茶の廂（ひさし）の下から、深き<span class="opt-fontcolor--11">眉（まゆ）</span>を動かしながら、見上げる頭の上には、微茫（かすか）なる春の空の、底までも藍（あい）を漂わして、吹けば揺（うご）くかと怪しまるるほど柔らかき中に<span class="opt-fontsize--xxxxl">屹然（きつぜん）</span>として、どうする気かと云（い）わぬばかりに<span class="opt-fontcolor--12">叡山（えいざん）</span>が聳（そび）えている。

                      </span>
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / area-Contents -->
  </div>
  <script type="text/javascript" src="/etc/dam/viewers/s7viewers/libs/responsive_image.js"></script>
  <style>
    .s7responsiveImage {
      width: 100%
    }
  </style>
  <script>
    $(document).ready(function() {
      $(".s7responsiveContainer img").each(function(index) {
        s7responsiveImage(this);
      });
      $(".s7responsiveImage").each(function(index) {
        s7responsiveImage(this);
      });
    });
  </script>
  <!-- breakpoint -->
  <div id="js-breakpoint--lg"></div>
  <div id="js-breakpoint--md"></div>
  <div id="js-breakpoint--sm"></div>
</body>

</html>
