<!DOCTYPE html>
<!-- ヘッダ要素 -->
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>Global Site</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- css -->
  <link rel="stylesheet" href="/etc/clientlibs/common/lib/css/normalize.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/basic/css/basic.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/component/css/slick.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/component/css/component.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/option/css/option.css">
  <!-- / css -->
  <!-- debug css -->
  <link rel="stylesheet" href="/apps/kao/sites/common/components/clientlibs/css/debug.css">
  <!-- / debug css -->

  <!-- script -->
  <script src="js/language.test.js"></script>
  <!-- / script -->
</head>

<body>

<div id="wrapper">


<!-- contentsWrapper -->
<div id="contentsWrapper" class="contentsWrapper">

  <!-- area-Contents -->
  <div class="g-Area" id="area-Contents">

    <div class="parsys">
      <!-- Section -->
      <div class="g-Section">
        <div class="g-Section__inner">
          <div class="parsys">
            <!-- Column -->
            <div class="g-Column opt-w100p opt-md-w100p opt-sm-w100p is-gutter--m js-uniformHeight" data-uniform-target="g-ColumnUnit">
              <div class="g-Column__inner">
                <div class="g-Column__cols g-Column__cols-lg-1 g-Column__cols-md-1 g-Column__cols-sm-1">
                  <div class="g-ColumnUnit">
                    <div class="parsys">
                      <h2>Global Site</h2>
                      
                      <a href="languageTest_ja.html">Japanese</a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Column -->
          </div>
        </div>
      </div>
      <!-- / Section -->
    </div>

  </div>
  <!-- / area-Contents -->

</div>
<!-- / contentsWrapper -->


<!--/wrapper--></div>

<!-- breakpoint -->
<div id="js-breakpoint--lg"></div>
<div id="js-breakpoint--md"></div>
<div id="js-breakpoint--sm"></div>

</body>
</html>
