<!DOCTYPE html>
<!-- ヘッダ要素 -->
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>Groupbox Layer</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- css -->
  <link rel="stylesheet" href="/etc/clientlibs/common/lib/css/normalize.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/basic/css/basic.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/component/css/slick.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/component/css/component.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/option/css/option.css">
  <!-- / css -->
  <!-- debug css -->
  <link rel="stylesheet" href="/apps/kao/sites/common/components/clientlibs/css/debug.css">
  <!-- / debug css -->

  <!-- script -->
  <script src="/etc/clientlibs/common/lib/js/modernizr.custom.js"></script>
  <script src="/etc/clientlibs/common/lib/js/jquery.min.js"></script>
  <script src="/etc/clientlibs/common/component/js/jquery.extend.js"></script>
  <script src="/etc/clientlibs/common/component/js/slick.js"></script>
  <script src="/etc/clientlibs/common/component/js/carousel.js"></script>
  <script src="/etc/clientlibs/common/component/js/component.js"></script>
  <!-- / script -->
  <!-- debug script -->
  <script src="/apps/kao/sites/common/components/clientlibs/js/jquery.tmpl.min.js"></script>
  <script src="/apps/kao/sites/common/components/clientlibs/js/debug.js"></script>
  <!--<script src="/etc/clientlibs/common/authoring/component/js/component-authoring.js"></script>-->
  <!-- debug script -->
</head>

<body>
<div id="menu">
  <div class="js-menuHolder">
    <!--
      【横スライド用メニューホルダー（仮）】
      どのエリアのメニューが横スライドを実装するかは変動するため、
      各エリア内のナビゲーション用DOMをメニュー用にクローンし、貼付けるためのエリア。
      ナビゲーション側ではbpでそれぞれのレイアウトを定義しておき、js側でステータスクラス（is-menu）を付与し表示/非表示の制御を行う。
    -->
  </div>
</div>


<div id="wrapper">


<!-- contentsWrapper -->
<div id="contentsWrapper" class="contentsWrapper">

  <!-- area-Contents -->
  <div class="g-Area" id="area-Contents">

    <h1 class="parsys"></h1>

      <!-- Section -->
      
      
    <p class="opt-mb0--imp opt-ml30--imp">Margin Padding Test</p>
      <div class="g-Section">
        <div class="g-Section__inner">
<!--          Section-->
          <div class="parsys">
            
            <p class="opt-mb0--imp opt-fontcolor--08 opt-fs_h_lv2">media max-width: 640px</p>
            
            <!-- Column -->
            <div class="g-Column opt-w100p opt-md-w100p opt-sm-w100p is-gutter--m js-uniformHeight" data-uniform-target="g-ColumnUnit">
              <div class="g-Column__inner">
                <div class="g-Column__cols g-Column__cols-lg-1 g-Column__cols-md-1 g-Column__cols-sm-1">
                  <div class="g-ColumnUnit">
                    <div class="parsys">
                      ColumnUnit
                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-sm-mg30">
                        <div class="parsys">opt-sm-mg30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-sm-mt30">
                        <div class="parsys">opt-sm-mt30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-sm-ml30">
                        <div class="parsys">opt-sm-ml30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-sm-mr30">
                        <div class="parsys">opt-sm-mr30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-sm-mb30">
                        <div class="parsys">opt-sm-mb30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-sm-pd30">
                        <div class="parsys">opt-sm-pd30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-sm-pt30">
                        <div class="parsys">opt-sm-pt30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-sm-pl30">
                        <div class="parsys">opt-sm-pl30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-sm-pr30">
                        <div class="parsys">opt-sm-pr30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-sm-pb30">
                        <div class="parsys">opt-sm-pb30</div>
                      </div>
                      <!-- / g-GroupBox -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Column -->
   
            <p class="opt-mb0--imp opt-fontcolor--08 opt-fs_h_lv2">media max-width: min-width: 641px and max-width: 1024px</p>

            <!-- Column -->
            <div class="g-Column opt-w100p opt-md-w100p opt-sm-w100p is-gutter--m js-uniformHeight" data-uniform-target="g-ColumnUnit">
              <div class="g-Column__inner">
                <div class="g-Column__cols g-Column__cols-lg-1 g-Column__cols-md-1 g-Column__cols-sm-1">
                  <div class="g-ColumnUnit">
                    <div class="parsys">
                      ColumnUnit
                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-md-mg30">
                        <div class="parsys">opt-md-mg30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-md-mt30">
                        <div class="parsys">opt-md-mt30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-md-ml30">
                        <div class="parsys">opt-md-ml30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-md-mr30">
                        <div class="parsys">opt-md-mr30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-md-mb30">
                        <div class="parsys">opt-md-mb30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-md-pd30">
                        <div class="parsys">opt-md-pd30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-md-pt30">
                        <div class="parsys">opt-md-pt30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-md-pl30">
                        <div class="parsys">opt-md-pl30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-md-pr30">
                        <div class="parsys">opt-md-pr30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-md-pb30">
                        <div class="parsys">opt-md-pb30</div>
                      </div>
                      <!-- / g-GroupBox -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Column -->

            <p class="opt-mb0--imp opt-fontcolor--08 opt-fs_h_lv2">media min-width: 1025px</p>

            <!-- Column -->
            <div class="g-Column opt-w100p opt-md-w100p opt-sm-w100p is-gutter--m js-uniformHeight" data-uniform-target="g-ColumnUnit">
              <div class="g-Column__inner">
                <div class="g-Column__cols g-Column__cols-lg-1 g-Column__cols-md-1 g-Column__cols-sm-1">
                  <div class="g-ColumnUnit">
                    <div class="parsys">
                      ColumnUnit
                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-lg-mg30">
                        <div class="parsys">opt-lg-mg30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-lg-mt30">
                        <div class="parsys">opt-lg-mt30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-lg-ml30">
                        <div class="parsys">opt-lg-ml30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-lg-mr30">
                        <div class="parsys">opt-lg-mr30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border is-border--solid is-borderWidth--s is-borderColor--1 opt-lg-mb30">
                        <div class="parsys">opt-lg-mb30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-lg-pd30">
                        <div class="parsys">opt-lg-pd30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-lg-pt30">
                        <div class="parsys">opt-lg-pt30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-lg-pl30">
                        <div class="parsys">opt-lg-pl30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-lg-pr30">
                        <div class="parsys">opt-lg-pr30</div>
                      </div>
                      <!-- / g-GroupBox -->

                      <!-- g-GroupBox -->
                      <div class="g-GroupBox is-border--solid is-borderWidth--s is-borderColor--1 opt-lg-pb30">
                        <div class="parsys">opt-lg-pb30</div>
                      </div>
                      <!-- / g-GroupBox -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Column -->

            

          </div>
        </div>
      </div>
      <!-- / Section -->

    </h1>

  </div>
  <!-- / area-Contents -->

</div>
<!-- / contentsWrapper -->


<!--/wrapper--></div>

<!-- breakpoint -->
<div id="js-breakpoint--lg"></div>
<div id="js-breakpoint--md"></div>
<div id="js-breakpoint--sm"></div>

</body>
</html>
