@font-face {
    font-family: 'CeraPro-Regular';
    src: url('../fonts/cerapro/CeraPro-Regular.ttf');
}

@font-face {
    font-family: 'CeraPro-Medium';
    src: url('../fonts/cerapro/CeraPro-Medium.ttf');
}
@font-face {
    font-family: 'CeraPro-LightItalic';
    src: url('../fonts/cerapro/CeraPro-LightItalic.ttf');
}
@font-face {
    font-family: 'CeraPro-Light';
    src: url('../fonts/cerapro/CeraPro-Light.ttf');
}
@font-face {
    font-family: 'CeraPro-Bold';
    src: url('../fonts/cerapro/CeraPro-Bold.ttf');
}
