<!DOCTYPE html>
<!-- ヘッダ要素 -->
<html lang="ja">
<head>
<meta charset="utf-8" />
<title>Area List</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- css -->
<link rel="stylesheet" href="/etc/clientlibs/common/lib/css/normalize.css">
<link rel="stylesheet" href="/etc/clientlibs/common/basic/css/basic.css">
<link rel="stylesheet" href="/etc/clientlibs/common/component/css/component.css">
<link rel="stylesheet" href="/etc/clientlibs/common/option/css/option.css">
<!-- / css -->
<!-- debug css -->
<link rel="stylesheet" href="/apps/kao/sites/common/components/clientlibs/css/debug.css">
<!-- / debug css -->

<!-- script -->
<script src="/etc/clientlibs/common/lib/js/modernizr.custom.js"></script>
<script src="/etc/clientlibs/common/lib/js/jquery.min.js"></script>
<script src="/etc/clientlibs/common/component/js/component.js"></script>
<!-- / script -->
<!-- debug script -->
<script src="/apps/kao/sites/common/components/clientlibs/js/jquery.tmpl.min.js"></script>
<script src="/apps/kao/sites/common/components/clientlibs/js/debug.js"></script>
<!-- debug script -->

</head>
<body>

<div id="wrapper">

<!-- contents -->
<div id="contents">
<div class="g-Section">
<div class="g-Section__inner">

<div class="backBtn">
  <a href="javascript:history.back()">← back</a>
</div>

<h1>テンプレート</h1>


<div>

  <p style="margin: 0;"><b>全部入り</b></p>
  <ul>
    <li><a href="./template.html">花王テンプレート: ブランドヘッダ</a></li>
    <li><a href="./template_fixed.html">花王テンプレート: ブランドヘッダ固定化</a></li>
  </ul>

  <hr>

  <p style="margin: 0;"><b>template一覧</b></p>
  <ul>
    <li><a href="./template_01.html">template_01</a></li>
    <li><a href="./template_01_fixed.html">template_01 (fixed)</a></li>
    <li><a href="./template_02.html">template_02</a></li>
    <li><a href="./template_03.html">template_03</a></li>
    <li><a href="./template_04.html">template_04</a></li>
    <li><a href="./template_05.html">template_05</a></li>
    <li><a href="./template_06.html">template_06</a></li>
    <li><a href="./template_07.html">template_07</a></li>
    <li><a href="./template_08.html">template_08</a></li>
    <li><a href="./template_09.html">template_09</a></li>
  </ul>

  <p style="margin: 0;"><b>サンプル</b></p>
  <ul>
    <li><a href="./template_01_fixed_anchor.html">固定ヘッダ時のページ位置調整サンプル</a></li>
  </ul>
</div>


</div>
</div>
<!--/contents--></div>


<!--/wrapper--></div>

<!-- breakpoint -->
<div id="js-breakpoint--lg"></div>
<div id="js-breakpoint--md"></div>
<div id="js-breakpoint--sm"></div>

</body>
</html>
