@charset "utf-8";

/* bps ============================== */

//
// メインビジュアル
//
.sofina-news-section_mainvisual {
  background-color: #f8f8f8;
  .g-Section__inner {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .l-PageTitle {
    padding: 0;
  }
  .l-PageTitle__h1 {
    text-align: center;
    color: $colorGray_2;
    @include fontSize(lv1_1);
    font-weight: normal;
    font-family: $fontFamily_Title;
    letter-spacing: 0.05em;
  }
  .l-PageTitle__titleBlock {
    margin-bottom: 0;
  }
  /*-----------------------*/
  // sm
  /*-----------------------*/
  @include bp(sm) {
    .g-Section__inner {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}

//
// リスト
//
.sofina-news-section_news {
  .sofina-section_news__list {
    padding-top: 40px;
    .sofina-whatsnew__line:first-child {
      border-top: dotted 1px $colorGray_5;
    }
  }
  /*-----------------------*/
  // sm
  /*-----------------------*/
  @include bp(sm) {
    .sofina-section_news__list {
      padding-top: 30px;
    }
  }
}
