@charset "UTF-8";
/*****************************
  Clientlibs config
 *****************************/
/*
 setting
 （上書き禁止）
 */
/*
 common veriable
 （共通変数・任意）
 */
/*
 Break-Point
 @param $point (sm, md, lg)
 */
/*
 Font-Size
 @param $level
        (lv1, lv2, lv3, lv4, lv5, lv6, body, caption)
 */
/*
 Link
 */
/*
 AreaLink
 */
/*
 Button
 */
/*
  gutterWrapper (Column)に対してガターマージンをセット
  @param $level s,m,l,xl,reset
*/
/*
  gutterInner (Column)に対してガターマージンをセット
  @param $level s,m,l,xl,reset
*/
/*
  gutterItemWrapperに対してマージンをセット
  @param $resetFlg マージンリセットフラグ
*/
/*
  gutterInnerに対してマージンをセット
  @param $resetFlg マージンリセットフラグ
*/
/*
  上マージン.
  @param $level s,m,l,xl
*/
/*
  下マージン.
  @param $level s,m,l,xl
*/
/*
  左マージン.
  @param $level s,m,l,xl
*/
/*
  右マージン.
  @param $level s,m,l,xl
*/
/*
 Corner Radius（※廃止予定）
 @param $size (ss, s, m, l, ll)
 */
/*
 Image(or Movie) Text Pack(Horizontal)内のHeadingTitle
 @param $imagePosition(left, right)
 */
/*
 Map Access Pack(Horizontal)内のHeadingTitle
 @param $mapPosition(left, right)
 */
/*
  シャドウ.
  @param $pattern A,B,none
*/
/*
  ボタン用シャドウ.
  @param $visible true,false
*/
/* who-we-are components */
/* Brand header */
.l-BrHeader {
  border-top-color: transparent; }

.l-BrHeaderCommon__logoBlock {
  display: none; }

@media only screen and (min-width: 1025px) {
  .l-BrHeaderNavList .l-BrHeaderNavList__item:first-child .l-BrHeaderNavListLink {
    padding-left: 0; } }

.l-BrHeaderNavList__item {
  margin-bottom: 0;
  border-width: 0 1px 1px 0;
  border-color: #eee; }
  @media only screen and (min-width: 1025px) {
    .l-BrHeaderNavList__item {
      padding: 0; } }

@media only screen and (min-width: 1025px) {
  .l-BrHeaderCommon {
    padding: 13px 40px 0 40px;
    max-width: 1245px; } }

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .l-BrHeaderNav__listBlock {
    border-bottom: 1px solid #d9d9d9; } }

.l-BrHeaderNavList__item a.l-BrHeaderNavListLink {
  font-weight: normal;
  border-radius: inherit; }
  @media only screen and (min-width: 1025px) {
    .l-BrHeaderNavList__item a.l-BrHeaderNavListLink {
      display: inline-block;
      width: inherit;
      padding: 0 13px 4px 13px; }
      .l-BrHeaderNavList__item a.l-BrHeaderNavListLink:hover {
        font-family: FP-HiraginoUDSansStdN-W6, sans-serif;
        background-color: transparent; }
        .l-BrHeaderNavList__item a.l-BrHeaderNavListLink:hover .l-BrHeaderNavListLink__inner {
          border-bottom: 4px solid #64BEAA; } }
  @media only screen and (min-width: 1025px) {
    .l-BrHeaderNavList__item a.l-BrHeaderNavListLink .l-BrHeaderNavListLink__inner {
      display: inline-block;
      padding: 6px 0;
      padding-bottom: 7px; } }
  @media only screen and (max-width: 640px) {
    .l-BrHeaderNavList__item a.l-BrHeaderNavListLink .l-BrHeaderNavListLink__inner {
      padding-bottom: 7px; } }

.l-BrHeaderNav__buttonBlock a .cmn-icon {
  color: #999; }

/* LocalNav */
@media only screen and (min-width: 1025px) {
  .l-LocalNav__inner {
    max-width: 1245px; } }

@media only screen and (min-width: 1025px) {
  .l-LocalNavCategoryLabel {
    font-size: 16px;
    border-right: 1px solid #ccc;
    padding: 0 8px 0 0;
    margin-right: 10px; } }

@media only screen and (min-width: 1025px) {
  .l-LocalNavList__item {
    padding: 0 6px; } }

@media only screen and (min-width: 1025px) {
  .l-LocalNavList__item .l-LocalNavListLink {
    border-radius: 2px; } }

.l-LocalNavList__item .l-LocalNavListLink .l-LocalNavListLink__inner {
  padding: 2px 12px; }

/* Bread Crumbs */
.l-Breadcrumbs {
  line-height: 1.8; }

@media only screen and (min-width: 1025px) {
  .l-Breadcrumbs__list {
    max-width: 1245px; } }

/* Brand Footer */
@media only screen and (min-width: 1025px) {
  .corp-BrFooter_wrapper {
    border-top: 1px solid #d9d9d9; }
    .corp-BrFooter_wrapper .l-BrFooter__inner {
      padding: 0; } }

@media only screen and (max-width: 640px) {
  .corp-BrFooter_wrapper {
    border-top: 1px solid #d9d9d9; } }

.corp-BrFooter_wrapper .l-BrFooter__sitemapBlock {
  display: none; }

.corp-BrFooter .l-BrFooter {
  display: block; }

@media only screen and (min-width: 1025px) {
  .corp-BrFooter .l-BrFooter__inner {
    padding: 7px 40px; } }

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .corp-BrFooter .l-BrFooter__inner {
    padding: 0; } }

@media only screen and (min-width: 1025px) {
  .corp-BrFooter .l-BrFooterSitemapUnit {
    padding: 0; } }

.corp-BrFooter .l-BrFooter__sitemapBlock {
  display: block; }

.corp-BrFooter .l-BrFooter__sitemapBlock__logo {
  display: none; }

.corp-BrFooter .l-BrFooterSitemap__list__tile {
  width: 100% !important;
  border: none; }

.corp-BrFooter .l-BrFooterSitemapUnit {
  border: none; }
  @media only screen and (min-width: 641px) and (max-width: 1024px) {
    .corp-BrFooter .l-BrFooterSitemapUnit {
      padding: 0; } }

@media only screen and (min-width: 1025px) {
  .corp-BrFooter .l-BrFooterSitemapUnit__title {
    float: left;
    width: 18%; }
    .corp-BrFooter .l-BrFooterSitemapUnit__title .cmn-icon {
      display: none; } }

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .corp-BrFooter .l-BrFooterSitemapUnit__title {
    width: 19%;
    float: left;
    padding-right: 10px; }
    .corp-BrFooter .l-BrFooterSitemapUnit__title .cmn-icon {
      display: none; } }

@media only screen and (min-width: 1025px) {
  .corp-BrFooter .l-BrFooterSitemapUnit__title__link {
    padding-left: 0; } }

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .corp-BrFooter .l-BrFooterSitemapUnit__title__link {
    padding-left: 0; } }

.corp-BrFooter .l-BrFooterSitemapUnit__panel {
  overflow: hidden;
  margin-left: 0; }
  @media only screen and (min-width: 1025px) {
    .corp-BrFooter .l-BrFooterSitemapUnit__panel {
      border-left: 1px solid #dfdfdf; } }
  @media only screen and (min-width: 641px) and (max-width: 1024px) {
    .corp-BrFooter .l-BrFooterSitemapUnit__panel {
      border-left: 1px solid #dfdfdf; } }

@media only screen and (min-width: 1025px) {
  .corp-BrFooter .l-BrFooterSitemapUnit__links li {
    float: left; }
    .corp-BrFooter .l-BrFooterSitemapUnit__links li .cmn-icon {
      display: none; } }

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .corp-BrFooter .l-BrFooterSitemapUnit__links li {
    float: left; }
    .corp-BrFooter .l-BrFooterSitemapUnit__links li .cmn-icon {
      display: none; } }

.corp-BrFooter .l-BrFooterSitemapUnit__title.is-open {
  background-color: transparent; }
