@charset "utf-8";


/* PageTitle
 ================================================== */
.g-PageTitle {
  border-bottom: 2px solid $cmn_colorGray_5;
  margin-bottom: 18px;
  &.is-background {
    padding: $cmn_paddingInner;
  }
  :link {
    text-decoration: none;
  }
}

.g-PageTitle__titleBlock {
  display: table;
  table-layout: fixed;
  width: 100%;
  .is-subTitleBottom & {
    margin-bottom: 4px;
  }
}

.g-PageTitle__titleBlock__imageBox {
  display: table-cell;
  vertical-align: middle;
  .is-layoutL & {
    padding-right: 12px;
  }
  .is-layoutR & {
    padding-left: 12px;
  }
}

.g-PageTitle__titleBlock__titleBox {
  display: table-cell;
  vertical-align: middle;
  .g-Text {
    .is-subTitleRight & {
      display: inline-block;
      vertical-align: baseline;
    }
  }
}

.g-PageTitle__titleBlock__titleBox__title {
  margin-bottom: 8px;
  .is-subTitleRight & {
    display: inline-block;
    margin-right: 8px;
    @include bp(sm) {
      display: block;
    }
  }

  .opt-al_c & {
    margin-left: auto;
    margin-right: auto;
  }

  .opt-al_r & {
    margin-left: auto;
  }
}


.g-PageTitle__h1 {
  margin: 0;
  @include fontSize(lv1);
  font-weight: bold;
}
