.unsubscribe-wrapper {
    .unsubscription_button_pack {
        #unsubscribe_yes {
            cursor: pointer;
        }
    }
    .uns_error_msg {
        display: none;
    }
}
.clr-opaque {
    .loader-img {
        background: url(/content/dam/sites/kaousa/www-curel-com/us/global/curel-eclipse-loader.gif) #fff !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }
}