@charset "utf-8";

// variable

/* Social Function ================================================== */
#area-SocialFunction {
  &.g-Area {
  }
}

.g-SocialFunction {
  box-sizing: border-box;
}
.g-SocialFunction__inner {
  margin: 0 auto;
  max-width: 1366px;
  box-sizing: border-box;
  @include bp(sm) {
    padding: 7px; // dummy
  }
  @include bp(md) {
    padding: 7px 40px; // dummy
  }
  @include bp(lg) {
    padding: 7px 40px; // dummy
  }
}
