@charset "utf-8";

/* 02_Home_Local_Template */

.localTemplate__section {
  @include bp(lg) {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    background-size: 255px auto, 280px auto !important;
    background-position: right top, left top 40% !important;
  }
  @include bp(md) {
    background-size: 180px auto, 200px auto !important;
    background-position: left top 50%, right top !important;
  }
  @include bp(sm) {
    background-size: 180px auto, 200px auto !important;
    background-position: left top 50%, right top !important;
  }
}
