@charset "utf-8";

/* C175 IMAGE ABOVE (TWO COLUMN) TEXT */
.c175__separatorTop {
  @include bp(lg) {
    padding-bottom: 15px;
    .l-Column__cols:first-child {
      width: 35%;
    }
    .l-Column__cols:last-child {
      width: 65%;
    }
  };
  @include bp(md) {
    padding-bottom: 30px;
    .l-Column__cols:first-child {
      width: 35%;
    }
    .l-Column__cols:last-child {
      width: 65%;
    }
  };
  @include bp(sm) {
    padding-bottom: 30px;
  };
}

.c175__titleBlock {
  min-height: 1px;
  @include bp(lg) {
    width: 63%;
  };
  @include bp(md) {
    margin-right: 35px;
  };
  .l-HeadingTitle {
    @include bp(sm) {
      margin-bottom: 20px;
    };
  }
  .l-HeadingTitle__h3 {
    @include kms-fontSize(headline3);
    @include kms-fontFamily(subTitle);
    &:not(.is-link) {
      color: #000;
    }
  }
  .l-HeadingTitle__titleBlock__titleBox__title {
    @include bp(sm) {
      margin-bottom: 0;
    };
  }
  .l-Text {
    @include kms-fontSize(longcopy);
    @include kms-fontFamily(body);
    color: #000;
    @include bp(sm) {
      margin-bottom: 20px;
    };
  }
}

.c175__textBlock {
  @include bp(lg) {
    width: 73%;
  };
  .l-Text {
    margin-bottom: 30px;
    @include kms-fontSize(longcopy);
    @include kms-fontFamily(body);
    color: #000;
    letter-spacing: normal;
  }
}

.c175__imageBlock {
  position: relative;
  margin-bottom: 30px;
  @include bp(sm) {
    margin-bottom: 70px;
    @include display-flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  };
  .c175__title {
    @include bp(lg) {
      position: absolute;
      bottom: -70px;
      left: 35%;
      z-index: 2;
    };
    @include bp(md) {
      position: absolute;
      bottom: -70px;
      left: 35%;
      z-index: 2;
    };
    @include bp(sm) {
      position: relative;
      bottom: 2em;
      left: 50%;
      display: inline-block;
      transform: translate(-40%, 0);
      z-index: 2;
      width: 80%;
    };
  }
}
