@charset "utf-8";


/* FullwidthVisualsCarouselP ================================================== */

//デフォルト設定（jsが動かない場合の高さ確保用）
$defaultMvHeight_lg: 440px;
$defaultMvHeight_md: 360px;
$defaultMvHeight_sm: 160px;

.g-FullwidthVisualsCarouselP {
  &.is-background {
    padding: $cmn_paddingInner $cmn_paddingInner 16px;
  }
}
.g-FullwidthVisualsCarouselP__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.g-FullwidthVisualsCarouselP__list__item {
  overflow: hidden;
  height: auto;
}
.g-FullwidthVisualsCarouselP__nextArrow,
.g-FullwidthVisualsCarouselP__prevArrow {
  @extend .cmn-icon;
  position: absolute;
  bottom: auto;
  margin-top: -24px;
  padding: 10px 3px;
  font-size: 0;
  z-index: 2;
  @include bp(sm) {
    bottom: 0;
    margin-top: 0;
    padding: 0 12px;
  }
  &:before {
    display: block;
    font-size: 18px;
    @include bp(sm) {
      font-size: 20px;
    }
  }
}
.g-FullwidthVisualsCarouselP__prevArrow {
  left: 0;
  &:before {
    @extend .cmn-icon--left:before;
  }
}
.g-FullwidthVisualsCarouselP__nextArrow {
  right: 0;
  &:before {
    @extend .cmn-icon--right:before;
  }
}
.g-FullwidthVisualsCarouselP__nav {
  //position: absolute;
  //bottom: -45px;
  margin-top: 16px;
  padding-left: 22px; //toggle分
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    padding: 0;
  }
}
.g-FullwidthVisualsCarouselP__nav__dot {
  padding: 0 2px;
  vertical-align: middle;
  font-size: 0;
  @extend .cmn-icon;
  @extend .cmn-icon--indicator_off;
  &:not(:first-child) {
    margin-left: 2px;
  }
  .slick-active & {
    @extend .cmn-icon--indicator_on;
  }
  &:before {
    font-size: 20px;
  }
}
.g-FullwidthVisualsCarouselP__nav__toggle {
  margin-left: 6px;
  padding: 0 2px;
  vertical-align: middle;
  font-size: 0;
  @extend .cmn-icon;
  &.is-pause {
    @extend .cmn-icon--pause;
  }
  &.is-play {
    @extend .cmn-icon--start;
  }
  &:before {
    font-size: 18px;
  }
}


/* FullwidthVisualsCarouselUnit ================================================== */
.g-FullwidthVisualsCarouselUnit {
  position: relative;
  display: block;
  text-decoration: none;
  &.is-background {
    padding: $cmn_paddingInner;

  }
}
.g-FullwidthVisualsCarouselUnit__image {
  position: relative;
  background-size: cover;
  //background-size: contain;
  //background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
  //height: 400px; //高さ指定
  overflow: hidden;
}
.g-FullwidthVisualsCarouselUnit__image__alt {
  display: none;
  //position: absolute;
  //top: 0;
}
.g-FullwidthVisualsCarouselUnit__image__info {
  position: absolute;
  padding: 28px 68px 10px;
  width: 100%;
  box-sizing: border-box;
  @include bp(md) {
    padding: 18px 50px 8px;
  }
  @include bp(sm) {
    padding: 18px 22px;
  }
  &.is-top {
    top: 0;
  }
  &.is-middle {
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  &.is-bottom {
    bottom: 0;
  }
  &.is-left {
    & > * {
      margin-right: auto;
    }
    & .g-ButtonP__list {
      text-align: left;
    }
  }
  &.is-center {
    & > * {
      margin-left: auto;
      margin-right: auto;
    }
    & .g-Text,
    & .g-ButtonP__list {
      text-align: center;
    }
  }
  &.is-right {
    & > * {
      margin-left: auto;
    }
    & .g-Text,
    & .g-ButtonP__list {
      text-align: right;
    }
  }
}
.g-FullwidthVisualsCarouselUnit__info {
  display: none;
  @include bp(sm) {
    display: block;
    padding: 12px 24px 0;
  }
  & .g-ButtonP__list {
    text-align: center;
  }
}

.g-FullwidthVisualsCarouselUnit__info__main {
  // width: 50%; //表示幅指定
  .g-Text {
    margin-bottom: 20px;
    @include bp(sm) {
      margin-bottom: 0;
    }
  }
}
.g-FullwidthVisualsCarouselUnit__info__sub {
  // width: 50%; //表示幅指定
  .g-Text {
    margin-bottom: 20px;
    @include bp(sm) {
      margin-bottom: 10px;
    }
  }
}
.g-FullwidthVisualsCarouselUnit__info__btn {
  .g-ButtonP__list {
    margin-bottom: 20px;
    //margin-bottom: 0;
    @include bp(sm) {
      margin-bottom: 0;
    }
  }
}
