@charset "utf-8";


/* HR ================================================== */
.g-Hr {
  margin: 8px auto;
  hr {
    margin: 0;
  }
}
.g-Hr__hr {
  border-width: 1px 0 0;
  &.is-style--solid {
    border-style: solid;
  }
  &.is-style--dot {
    border-style: dotted;
  }
}

/* modifer sample ==================================================*/
.g-Hr--sample1 {
  .g-Hr__hr {
    border-color: red;
  }
}

.g-Hr--sample2 {
  margin-left: 0;
  margin-right: auto;
}
