@charset "utf-8";


/* AnnotationListP ================================================== */
.g-AnnotationListP {
  margin-bottom: 12px;
  &.is-background {
    padding: $cmn_paddingInner;
    
  }
}

.g-AnnotationListP__ul ,
.g-AnnotationListP__ol {
  margin: 0;
  list-style-type: none;
}

.g-AnnotationListP__ul__item ,
.g-AnnotationListP__ol__item {
  margin: 0;
}

.g-AnnotationListUnit {
  @include fontSize(caption);
  &.is-background {
    
  }
}

.g-AnnotationListUnit__symbol ,
.g-AnnotationListUnit__num {
  display: inline-block;
  width: 0;
  position: relative;
}
.g-AnnotationListUnit__symbol {
  margin-right: -.3em;
  left: -1em;
}
.g-AnnotationListUnit__num {
  margin-right: -.3em;
  left: -1.5em;
}
