.ProductInformationTabs__tabbedWrap {
  position: relative;
  margin-top: 2.625rem;
  /* margin-bottom: 2.625rem; */
  margin-bottom: 0px;
}

.ProductInformationTabs__tabbedWrap input[type=radio] {
  height: 3.5rem;
  visibility: hidden;
  box-sizing: border-box;
  display: none;
}

.ProductInformationTabs__tabbedWrap label {
  font-family: "FuturaLTW05-Book", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background: #f0f0f0;
  cursor: pointer;
  display: none;
  float: left;
  padding: 1.25em 1em 0;
  font-size: 1rem;
  height: 5rem;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-left: 0px;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-sizing: border-box;
  width: 25%;
  position: relative;
  z-index: 6;
}
.ProductInformationTabs__tabbedWrap label:first-of-type {
  border-left: 1px solid #e0e0e0;
}
@media (min-width: 40.0625em) {
  .ProductInformationTabs__tabbedWrap label {
    display: table;
  }
}
@media (min-width: 64.0625em) {
  .ProductInformationTabs__tabbedWrap label {
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1.5em;
    display: block;
  }
}

.ProductInformationTabs__tabbedWrap label:hover {
  background: #ffffff;
  box-shadow: inset 0 5px 0 0 #989898;
}

.ProductInformationTabs__tabbedWrap input:checked + label {
  background: #ffffff;
  box-shadow: inset 0 5px 0 0 #464646;
  border-bottom: 1px solid #ffffff;
}

.ProductInformationTabs__tabbedContent {
  display: block;
  position: relative;
  width: 100%;
  z-index: 5;
  margin-top: 3.5rem;
  border: 1px solid #e0e0e0;
  border-top: 0px;
  box-shadow: 0 -5px 0 0 #989898;
  box-sizing: border-box;
  padding-top: 1.875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  clear: both;
}
@media (min-width: 40.0625em) {
  .ProductInformationTabs__tabbedContent {
    box-shadow: none;
    border: 1px solid #e0e0e0;
    border-top: 0px;
    padding-bottom: 1.875rem;
  }
}

.ProductInformationTabs__sizerSpan {
  clear: both;
  width: 100%;
  display: none;
}
@media (min-width: 40.0625em) {
  .ProductInformationTabs__sizerSpan {
    display: block;
  }
}

.ProductInformationTabs__tab {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
  max-height: calc(30px + 2em);
  overflow: hidden;
  cursor: pointer;
}
.ProductInformationTabs__tab h2 {
  font-family: "FuturaLTW05-Book", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0.2em;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2em;
}
.ProductInformationTabs__tab p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1.66666667rem;
}
.ProductInformationTabs__tab video {
  margin-bottom: 1em;
}
@media (min-width: 40.0625em) {
  .ProductInformationTabs__tab video {
    margin: 0;
  }
}
.ProductInformationTabs__tab [class^="col-"], .ProductInformationTabs__tab [class*="col-"] {
  opacity: 0;
  max-width: 90%;
}
@media (min-width: 40.0625em) {
  .ProductInformationTabs__tab [class^="col-"], .ProductInformationTabs__tab [class*="col-"] {
    opacity: 1;
  }
}
.ProductInformationTabs__tab.expanded {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  max-height: 100000px;
  opacity: 1;
}
.ProductInformationTabs__tab.expanded h2 {
  padding-bottom: 0;
}
.ProductInformationTabs__tab.expanded [class^="col-"], .ProductInformationTabs__tab.expanded [class*="col-"] {
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (min-width: 40.0625em) {
  .ProductInformationTabs__tab {
    opacity: 0;
    position: absolute;
    top: 1.875rem;
    left: 1.25rem;
    z-index: -100;
    width: calc(100% - 2.5rem);
    max-height: 100000px;
    overflow: auto;
  }
  .ProductInformationTabs__tab.expanded {
    opacity: 0;
  }
}

.ProductInformationTabs__expandArrow {
  display: block;
  position: absolute;
  top: 0.85em;
  right: 1em;
  z-index: 5;
  width: 1.15rem;
  height: 1.15rem;
  padding: 0;
  border: 3px solid #C53391;
  border-left-color: transparent;
  border-bottom-color: transparent;
  overflow: hidden;
  background-color: transparent;
  text-indent: 150%;
  transform: translateY(-50%) rotateZ(45deg);
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (min-width: 40.0625em) {
  .ProductInformationTabs__expandArrow {
    display: none;
  }
}

.ProductInformationTabs__tab.expanded .ProductInformationTabs__expandArrow {
  transform: translateY(-80%) rotateZ(135deg);
}

.ProductInformationTabs__tabbedWrap input#tab-1:checked ~ .ProductInformationTabs__tabbedContent .tab-1,
.ProductInformationTabs__tabbedWrap input#tab-2:checked ~ .ProductInformationTabs__tabbedContent .tab-2,
.ProductInformationTabs__tabbedWrap input#tab-3:checked ~ .ProductInformationTabs__tabbedContent .tab-3,
.ProductInformationTabs__tabbedWrap input#tab-4:checked ~ .ProductInformationTabs__tabbedContent .tab-4 {
  opacity: 1;
  z-index: 100;
}

.ProductInformationTabs__icon {
  float: left;
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.5em;
  margin-bottom: 1em;
}

.ProductInformationTabs__featuredFaq {
  font-family: "Georgia", serif;
  font-size: 0.875rem;
  color: #707070;
  font-weight: bold;
  font-style: italic;
  display: block;
  clear: both;
  padding: 0.4em 0;
}
@media (min-width: 64.0625em) {
  .ProductInformationTabs__featuredFaq {
    font-size: 1rem;
  }
}
@media (max-width: 40em) {
  .ProductInformationTabs__featuredFaq:last-of-type {
    margin-bottom: 1em;
  }
}

.ProductInformationTabs__searchForm .ProductInformationTabs__searchInputWrapper {
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #818181;
  width: 100%;
  margin: 0 0 2em 0;
}
.ProductInformationTabs__searchForm .ProductInformationTabs__searchInputWrapper .ProductInformationTabs__textbox {
  width: 75%;
  max-width: 75%;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  border: none;
  padding: 0 0 0 .5em;
}
.ProductInformationTabs__searchForm .ProductInformationTabs__searchInputWrapper .ProductInformationTabs__searchButton {
  width: 25%;
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-pack: end;
      justify-content: flex-end;
  background: #ffffff;
  border: none;
  padding: .5em;
}
.ProductInformationTabs__searchForm .ProductInformationTabs__searchInputWrapper .ProductInformationTabs__searchButton img {
  width: 22px;
}
@media (min-width: 40.0625em) {
  .ProductInformationTabs__searchForm {
    margin: 0 0 2em 0;
  }
}

.ProductInformationTabs__subHead {
  font-family: "FuturaLTW05-Bold", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 0.25em 0;
  letter-spacing: 0.035em;
}
.ProductInformationTabs__subHead.ProductInformationTabs__subHeadFrizzEase {
  color: #5C2D91;
}
.ProductInformationTabs__subHead.ProductInformationTabs__subHeadBeachBlonde {
  color: #87D1D4;
}
.ProductInformationTabs__subHead.ProductInformationTabs__subHeadBrilliantBrunette {
  color: #693920;
}
.ProductInformationTabs__subHead.ProductInformationTabs__subHeadCombinedColor {
  color: #4D4D4F;
}
.ProductInformationTabs__subHead.ProductInformationTabs__subHeadFullRepair {
  color: #761E27;
}
.ProductInformationTabs__subHead.ProductInformationTabs__subHeadHiImpact {
  color: #F3E5C3;
}
.ProductInformationTabs__subHead.ProductInformationTabs__subHeadJfHairspray {
  color: #00A69E;
}
.ProductInformationTabs__subHead.ProductInformationTabs__subHeadLuxuriousVolume {
  color: #007476;
}
.ProductInformationTabs__subHead .ProductInformationTabs__subHeadRadiantRed {
  color: #D7182A;
}
.ProductInformationTabs__subHead.ProductInformationTabs__subHeadSheerBlonde {
  color: #FFDD00;
}


.ProductInformationTabs__tabbedWrap label {
  width: 25%;
}

@media (min-width: 40.0625em) {
    .ProductInformationTabs__tabbedWrap label {
        /* width: 24.3%; */
        width: 24.64%;
    }
  
    .ProductInformationTabs__tabbedContent {
        width: 99.7%;
    }
}

@media (min-width: 64.0625em) {
  .ProductInformationTabs__tabbedWrap label {
	/* width: 25%; */
    width: 24.9%;
  }
}

.ProductInformationTabs__tab__editorMode {
    opacity: 1;
    position: relative;
	border-bottom: 1px solid #ccc;
}

.ProductInformationTabs__tab__editorMode:last-child {
	border-bottom: 0px;
}

.ProductInformationTabs__tabbedWrap label div p {
    margin-top: 14px;
    font-size : 18px;
}

@media (min-width: 40.0625em) {
    .ProductInformationTabs__tabbedWrap label div p {
        margin-top: 0px;
        font-size : 16px;
    }
}

@media (min-width: 64.0625em) {
    .ProductInformationTabs__tabbedWrap label div p {
        margin-top: 14px;
        font-size : 16px;
    }
}

.product-Tab-Margin > p {
    padding-left: 57px;
}

@-moz-document url-prefix() { 
    @media (min-width: 40.0625em) {
        .ProductInformationTabs__tabbedWrap label {
            width: 24.92%;
        }
    }
}

.ProductInformationTabs__featuredFaq {
    padding: 0px;
}

.ProductInformationTabs__tab p {
    margin-bottom: 0px;
}

.MainContentOverride {
    margin-top: 0rem !important;
}


.ProductHeader__carouselWrap {
    float: none;
}

@media (min-width: 40.0625em) {
	.ProductHeader__carouselWrap {
		float: right;
	}	
}

.ProductHeader__category {
  margin-top: 0em;
}

@media (min-width: 40.0625em) {
	.ProductHeader__category {
		margin-top: 0.5em;
	}	
}

@media (min-width: 64.0625em) {
  .ProductHeader__category {
    margin-top: 1.5em;
  }
}

section.ProductHeader + div#area-Contents {
	margin-top : 0px;
}

.jf_content_bgcolor {
    background-color : white;
}

.ps-widget[ps-sku].ps-disabled, .ps-widget[data-ps-sku].ps-disabled {
	float: initial;
	width: 50%;
    margin: 0 auto;
}

@media (min-width: 40.0625em) {
	.ps-widget[ps-sku].ps-disabled, .ps-widget[data-ps-sku].ps-disabled {
		background-color: #666;
		border-color: #666;
		border-style: solid;
		border-width: 1px;
		border-radius: 3px;
		cursor: default;
		white-space: nowrap;
		width: auto;
		padding: 0 10px;
		float: left;
	} 
}

@media (max-width: 40em) {
	.ProductHeader__textWrap {
		top: 44px;
        padding-bottom: 20px;
	} 
}

.ProductHeader {
    background: #fff;
}

html, body {
    background-color: #fff !important;
}

.ProductHeader__carousel {
    top: 0px;
}

@media (min-width: 40.0625em) {
    .ProductHeader__carousel {
        top: 38px;
    }
}

@media (min-width: 64.0625em) {
    .ProductHeader__carousel {
        top: 54px;
    }
}

.ProductInformationTabs__tab {
	font-family: "Georgia", serif;
}

.ps-widget[ps-sku], .ps-widget[data-ps-sku] {
    float: none !important;
    margin: 0 auto !important;
}

@media (min-width: 40.0625em) {
    .ps-widget[ps-sku], .ps-widget[data-ps-sku] {
        float: left !important;
        display: block;
        height: 30px;
        width: 120px;
        margin: 0 0 0 0 !important;
        padding: 0;
        background: #212121;
        border-color: #212121;
        outline: none;
        border-radius: 3px;
        font-size: 12px;
        font-family: "AvenirLTStd-Book", sans-serif;
        line-height: 30px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        cursor: pointer;
        text-transform: uppercase;
    }
}

@media (min-width: 40.0625em) {
    .ProductInformationTabs__tabbedWrap label {
        width: 22.64%;
        height: 4.9rem;
    }
    
    .ProductInformationTabs__tabbedContent {
        width: 98.5%;
    }
}

@media (min-width: 64.0625em) {
    .ProductInformationTabs__tabbedWrap label {
        width: 24.9%;
        height: 4.5rem;
    }
    
    .ProductInformationTabs__tabbedContent {
        width: 99.6%;
    }
}

.ProductInformationTabs .cmn-richtext span strong {
    font-weight: bold;
}