.g-TextLinkP {
    .g-TextLinkP__list {
        margin-left: 0 !important;
        margin-right: 0 !important; 
        .g-TextLinkP__list__item a {
            text-decoration: underline;
            color: $solid-black;
            font-size: 0.875rem;
            display: inline-flex;
            &:hover {
                color: $hover-link;
            }
            .cmn-icon {
                display: none;
            }
            .cmn-richtext {
                padding: 0;
            }
        }
        .is-colorset--2 a {
            text-decoration: none;
        }
    }
}