@charset "utf-8";


/* AccordionMenu ============================== */
.g-AccordionMenu {
  margin-bottom: 12px;

  &.is-border {
    padding: $cmn_paddingInner;
    &.is-paddingReset {
      padding: 0;
    }
  }

  &.is-background {
    padding: $cmn_paddingInner;
    background-repeat: repeat;
    background-size: auto;
    background-position: top left;
    &.is-paddingReset {
      padding: 0;
    }
  }

  &.opt-bg--no-repeat{
    background-repeat: no-repeat;
  }
  &.opt-bg--repeat-y{
    background-repeat: repeat-y;
  }
  &.opt-bg--repeat-x{
    background-repeat: repeat-x;
  }
  &.opt-bg--top{
    background-position: top;
  }
  &.opt-bg--bottom{
    background-position: bottom;
  }
  &.opt-bg--left{
    background-position: left;
  }
  &.opt-bg--right{
    background-position: right;
  }
  &.opt-bg--center{
    background-position: center;
  }
  &.opt-bg--bottom-left{
    background-position: bottom left;
  }
  &.opt-bg--top-right{
    background-position: top right;
  }
  &.opt-bg--bottom-right{
    background-position: bottom right;
  }

}

.g-AccordionMenu__item {
  &:not(:last-child) {
    .g-AccordionUnit {
      margin-bottom: 10px;
    }
  }
}


/* AccordionUnit ============================== */
.g-AccordionUnit {
  //margin-bottom: 10px;
  &.is-background {
    background-repeat: repeat;
    background-size: auto;
    background-position: top left;
    .g-AccordionUnit__contentBlock {
      background-color: transparent;
    }
  }

  &.opt-bg--no-repeat{
    background-repeat: no-repeat;
  }
  &.opt-bg--repeat-y{
    background-repeat: repeat-y;
  }
  &.opt-bg--repeat-x{
    background-repeat: repeat-x;
  }
  &.opt-bg--top{
    background-position: top;
  }
  &.opt-bg--bottom{
    background-position: bottom;
  }
  &.opt-bg--left{
    background-position: left;
  }
  &.opt-bg--right{
    background-position: right;
  }
  &.opt-bg--center{
    background-position: center;
  }
  &.opt-bg--bottom-left{
    background-position: bottom left;
  }
  &.opt-bg--top-right{
    background-position: top right;
  }
  &.opt-bg--bottom-right{
    background-position: bottom right;
  }
}

.g-AccordionUnit__titleBlock {
  padding: 10px 1.875em 0 10px;
  border: solid 1px;
  position: relative;
  overflow: hidden;
  .g-HeadingTitle__titleBlock__titleBox__title {
    margin-bottom: 0;
  }
  &.is-noborder{
    border: none;
  }
  &.is-border--dot{
    border-style: dotted;
  }
  .js-accordion & { //致し方なし...
    cursor: pointer;
  }
}
.g-AccordionUnit__titleBlock__icon {
  position: absolute;
  top: 50%;
  right: .8em;
  margin-top: -.7em;
}
.g-AccordionUnit__contentBlock {
  padding: 18px 20px 10px;
  border: solid 1px;
  border-top: none;
  position: relative;
  overflow: hidden;

  &.is-open {
    display: block;
  }
  &.is-close {
    display: none;
  }
  &.is-noborder{
    border: none;
  }
  &.is-border--dot{
    border-style: dotted;
    border-top-style: none;
  }

  @include bp(sm) {
    &.is-open-sm {
      display: block;
    }
    &.is-close-sm {
      display: none;
    }
  }
  @include bp(md) {
    &.is-open-md {
      display: block;
    }
    &.is-close-md {
      display: none;
    }
  }
  @include bp(lg) {
    &.is-open-lg {
      display: block;
    }
    &.is-close-lg {
      display: none;
    }
  }
}
