@charset "utf-8";


/* Global Header ================================================== */
.sofina-BlHeader {
  padding: 0;
  background-color: $colorBody;
  .g-Area__inner {
    max-width: 100%;
  }
}


/* BlHeader
---------- ---------- ---------- */
.BlHeader {
  margin: 0 auto;
  padding: 10px 0;
  @include lineBottom(solid, s);
  background-color: $colorBody;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  @include bp(sm) {
  }
  @include bp(md) {
    padding: 15px 0;
  }
  @include bp(lg) {
    position: static;
    min-width: 960px;
    &.is-fixed {
      position: fixed;
    }
  }
}

/* heaer placeholder
---------- */
.BlHeaderPlaceHolder {
}

/* Logo
---------- ---------- */
.sofina-HeaderLogo {
  margin: 0 auto;
  padding: 0;
  width: 100px;
  height: 19px;
  img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }
  a {
    display: block;
    position: relative;
    width: inherit;
    height: inherit;
    &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
    }
    &:focus ,
    &:hover ,
    &:active {
      &:after {
        background-color: rgba($colorBody,.5);
      }
    }
  }
  @include bp(sm) {
  }
  @include bp(md) {
    width: 160px;
    height: 31px;
  }
  @include bp(lg) {
    margin: 30px auto 40px;
    width: 240px;
    height: 46px;
    .is-fixed & {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 120px;
      height: 23px;
    }
  }
}


/* Header Menu
---------- ---------- */
.sofina-HeaderMenu {
  padding: 0 10px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  text-decoration: none;
  &:after {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 1;
    height: 1em;
    content: '\e606';
    color: $colorIcon_dark;
    font-family: 'icomoon';
    font-size: 1.7em;
    text-align: center;
  }
  // &:hover ,
  &:focus ,
  &.is-open {
    background-color: #777;
    &:after {
      color: $colorGray_8;
    }
  }
  @include bp(sm) {
  }
  @include bp(md) {
  }
  @include bp(lg) {
    display: none;
  }
}


/* sbps GlobalNav
---------- ---------- */
.sofina-HeaderGlobalNav {
  margin: 0;
  padding: 0 10px;
  border-color: $colorLine_dark;
  border-style: solid;
  border-width: 1px 0;
  display: none;
  position: absolute;
  top: 100%;
  z-index: 1;
  overflow-y: scroll;
  width: 100%;
  list-style: none;

  background-color: $colorBody;
  box-sizing: border-box;

  &.is-open {
    display: block;
  }
  li {
    margin: 0;
    padding: 0;
    border-color: $colorLine_dark;
    border-style: solid;
    border-width: 1px 0 0;
    display: block;
    line-height: 1.3;
    font-size: 18px;
    &:first-child {
      border-top-width: 0;
    }
  }
  a {
    padding: 11px 20px 11px 0;
    display: block;
    @include link();
    text-decoration: none;
    background: url(../img/arrow_blue_right.png) 100% 50% no-repeat;
  }

  @include bp(sm) {
    li {
      br {
        display: none;
      }
    }
  }
  @include bp(md) {
    li {
      br {
        display: none;
      }
    }
  }
  @include bp(lg) {
    margin: 0 auto;
    padding: 0;
    display: table;
    position: static;
    width: 960px;
    border-width: 0;
    li {
      border-color: #ddd;
      border-width: 0 1px 0 0;
      display: table-cell;
      width: 16.67%;
      line-height: 1.3;
      font-size: $fontSize_body;
      vertical-align: middle;
      &:first-child {
        border-left-width: 1px;
      }
    }
    a {
      padding: 0 10px;
      text-align: center;
      background-image: none;
    }
  }
}

