@charset "utf-8";

.corp-contactSection {
  .l-Column__inner {
    .l-Column__cols {
      .l-ColumnUnit {
        padding: 30px;
        @include bp(md) {
          padding: 30px;
        };
        @include bp(sm) {
          padding: 30px;
        };
      }
      &:first-child {
        .l-ColumnUnit {
          @include bp(lg) {
            border-right: none;
          };
          @include bp(md) {
            border-right: none;
          };
          @include bp(sm) {
            border-bottom: none;
          };
        }
      }
    }
  }
}

.corp-contactSection__linkColumn {
  @include bp(lg) {
    margin-bottom: 30px;
  };
  .l-Column__cols {
    .l-ColumnUnit {
      @include bp(md) {
        padding-bottom: 15px;
      };
      @include bp(sm) {
        padding-bottom: 13px;
      };
    }
    &:last-child {
      .l-ColumnUnit {
        padding-top: 4px;
        padding-bottom: 0;
      }
    }
  }
}
