@charset "utf-8";
/*corp-headingLv3-01*/
.corp-headingLv3-01 {
  .l-HeadingTitle__h3 {
    .cmn-richtext {
      display: inline-block;
      width: 100%;
      span {
        margin-left: 15px;
        vertical-align: middle;
        display: block;
      } 
    }
  }
  @include bp(lg) {
    .l-HeadingTitle__h3 {
      border-left: 4px solid #B0DED7!important;
    }
  }
  @include bp(md) {
    .l-HeadingTitle__h3 {
      border-left: 4px solid #B0DED7 !important;
    }

  }
  @include bp(sm) {
    .l-HeadingTitle__h3 {
      border-left: 3px solid #B0DED7 !important;
    }
  }
  .l-HeadingTitle__titleBlock__titleBox__title {
    margin-bottom: 0;
  }
}
