@charset "utf-8";
/*corp-headingLv4-01*/
.corp-headingLv4-01 {
  display: inline-block;
  border-bottom: 1px solid #d9d9d9;
  vertical-align: bottom;
  .l-HeadingTitle__titleBlock {
    width: auto;
  }
  .l-HeadingTitle__h4 {
    margin-bottom: 10px;
  }
  .l-HeadingTitle__titleBlock__titleBox__title {
    margin-bottom: 0;
  }    
}