@charset "utf-8";

.corp-sectionBorder {
  @include bp(lg) {
    box-sizing: border-box;
    max-width: 1366px;
    margin: 0 auto;
    padding: 45px 45px;
  };
  .l-Section__inner {
    .l-Column {
      width: 94%;
    }
    .l-Column__cols:first-child {
      @include bp(md) {
        padding-top: 0;
      };
      @include bp(sm) {
        padding-top: 0;
      };
    }
    border: 1px solid $border;
    @include bp(md) {
      margin-left: 45px;
      margin-right: 45px;
      padding: 30px;
    };
    @include bp(sm) {
      margin-left: 26px;
      margin-right: 26px;
      padding: 30px;
    };
  }
}
