@charset "utf-8";

@import "compass";
@import "libs/config";
@import "libs/mixin";


/* Setting ============================================================ */
html {
  height: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  height: 100%;
  background: $body__bg;
}



/* Wrapper ============================================================ */
#wrapper {}
