<!DOCTYPE html>
<!-- ヘッダ要素 -->
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>G_CON_007: HR Item</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- css -->
  <link rel="stylesheet" href="/etc/clientlibs/common/lib/css/normalize.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/basic/css/basic.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/component/css/slick.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/component/css/component.css">
  <link rel="stylesheet" href="/etc/clientlibs/common/option/css/option.css">
  <!-- / css -->
  <!-- debug css -->
  <link rel="stylesheet" href="/apps/kao/sites/common/components/clientlibs/css/debug.css">
  <!-- / debug css -->

  <!-- script -->
  <script src="/etc/clientlibs/common/lib/js/modernizr.custom.js"></script>
  <script src="/etc/clientlibs/common/lib/js/jquery.min.js"></script>
  <script src="/etc/clientlibs/common/component/js/jquery.extend.js"></script>
  <script src="/etc/clientlibs/common/component/js/slick.js"></script>
  <script src="/etc/clientlibs/common/component/js/carousel.js"></script>
  <script src="/etc/clientlibs/common/component/js/component.js"></script>
  <!-- / script -->
  <!-- debug script -->
  <script src="/apps/kao/sites/common/components/clientlibs/js/jquery.tmpl.min.js"></script>
  <script src="/apps/kao/sites/common/components/clientlibs/js/debug.js"></script>
  <!--<script src="/etc/clientlibs/common/authoring/component/js/component-authoring.js"></script>-->
  <!-- debug script -->
</head>

<body>
<div id="wrapper">

<!-- contents -->
<div class="g-Area" id="area-Contents">
<div class="g-Section">
<div class="g-Section__inner">

<div class="backBtn">
  <a href="javascript:history.back()">← back</a>
</div>

<h1>G_CON_007: HR Item</h1>


<!-- G_CON_007: HR Item -->
  <div class="method">
    <p class="componentName">G_CON_007: HR Item</p>
    <!--<a href="samples/I090_HR.html">⇒ design sample</a>
    <ul>-->
      <li>Line Style
        <ul>
          <li>solid ⇒ class="is-style--solid"</li>
          <li>dot ⇒ class="is-style--dot"</li>
        </ul>
      </li>
      <li>Line Width
        <ul>
          <li>1px ⇒ class="is-width--s"</li>
          <li>2px ⇒ class="is-width--m"</li>
          <li>4px ⇒ class="is-width--l"</li>
        </ul>
      </li>
      <li>Line Color
        <ul>
          <li>color1 ⇒ class="is-color--1"</li>
          <li>color2 ⇒ class="is-color--2"</li>
          ...
        </ul>
      </li>
      <li>Width : Width制御クラス付与</li>
      <li>Specific CSS class : [任意クラス付与]</li>
    </ul>
  </div>


  <h3 class="settingName">Typical</h3>
  <div class="debug-tmpl" data-tmpl="Hr--Typical"></div>

  <h3 class="settingName">Line Style : solid</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--1" />
  </div>

  <h3 class="settingName">Line Style : dotted</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--dot is-width--s is-color--1" />
  </div>

  <h3 class="settingName">Line Width : 1px</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--1" />
  </div>

  <h3 class="settingName">Line Width : 2px</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--m is-color--1" />
  </div>

  <h3 class="settingName">Line Width : 4px</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--l is-color--1" />
  </div>

  <h3 class="settingName">Line Color : color1</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--1" />
  </div>

  <h3 class="settingName">Line Color : color2</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--2" />
  </div>

  <h3 class="settingName">Line Color : color3</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--3" />
  </div>

  <h3 class="settingName">Line Color : color4</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--4" />
  </div>

  <h3 class="settingName">Line Color : color5</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--5" />
  </div>

  <h3 class="settingName">Line Color : color6</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--6" />
  </div>

  <h3 class="settingName">Line Color : color7</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--7" />
  </div>

  <h3 class="settingName">Width : 100%</h3>
  <div class="g-Hr l-Hr opt-w100p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--1" />
  </div>

  <h3 class="settingName">Width : 90%</h3>
  <div class="g-Hr l-Hr opt-w90p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--1" />
  </div>

  <h3 class="settingName">Width : 80%</h3>
  <div class="g-Hr l-Hr opt-w80p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--1" />
  </div>

  <h3 class="settingName">Width : 70%</h3>
  <div class="g-Hr l-Hr opt-w70p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--1" />
  </div>

  <h3 class="settingName">Width : 60%</h3>
  <div class="g-Hr l-Hr opt-w60p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--1" />
  </div>

  <h3 class="settingName">Width : 50%</h3>
  <div class="g-Hr l-Hr opt-w50p">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--1" />
  </div>

  <h3 class="settingName">SpecificCSSclass</h3>
  <div class="g-Hr l-Hr opt-w100p SpecificCSSclass">
    <hr class="g-Hr__hr l-Hr__hr is-style--solid is-width--s is-color--1" />
  </div>

<!-- / G_CON_007: HR Item -->


</div>
</div>

<div class="pageTop">
  <a href="#contents">▲トップへ</a>
</div>
<!--/contents--></div>


<!--/wrapper--></div>

<!-- breakpoint -->
<div id="js-breakpoint--lg"></div>
<div id="js-breakpoint--md"></div>
<div id="js-breakpoint--sm"></div>

</body>
</html>
