body:not(.is-authorring) {
    // *****************Category******************

    .category {
        .g-NewsIndexUnit--v3 {
            .g-NewsIndexP--v3__card {
                .g-NewsIndexUnit--v3__text {
                    color: $primary;
                }
            }
        }

        .g-Text {
            margin: 0;
        }
    }


    // Shariff icons wrapper

    .shariff-wrapper {

        .shariff {
            .orientation-horizontal {
                justify-content: flex-end;
                margin-top: 5px;

                li {

                    &:last-child {
                        margin-right: 0;
                    }

                    @media (max-width: $break_sm) {
                        width: 16px;
                        height: 16px;
                        margin: 0;
                        margin-right: 10px;

                        span.fab,
                        span.fas {
                            //   width: 26px;
                            font-size: 9px;
                            width: 100%;
                            height: 100%;
                            line-height: 19px;
                        }
                    }
                }
            }
        }
    }
}