.ban-thankyou-page {
    .g-Section__inner {
        @media(min-width: 1025px){
            height: 100vh;        
        }
    }
}
.heading-padding {
    .g-Column__cols {
        padding: 0 !important;
    }
}
.form {
    .form_field_textarea{
        @media(max-width: $break-sm){
            width: 90% !important;
        }
    }
    .msg-error {
        color: red;
    }
    .msg-error1 {
        bottom: 0 !important;
    }
    .g-Text{
        font-weight: bold;
        color: #000;
         .error_msg{
            display: none;
        }
    }
    
    .postalContainer{
        display: inline-block;
        width: 40%;
        
        .form_row {
            display: block;
            width: auto;
        }
        
        .help-block.error{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 70%;
                color: red;
        }
        
        @media(max-width: $break-sm){
            display: block;
            width: auto;
        }
        
    }
    
    .product_code_image {
		margin-bottom: 8px;
		flex-direction: column-reverse;
		position: absolute !important;
		padding: 10px;
		background-color: #333;
		color: #fff;
		border-radius: 2px;
		display: none;
	}
	#product_mfg_image {
        left: 40%;
        width: 200px;
        top: 48%;
        @media(max-width: $break-sm){
            left: 0;
            top: 70%;
        }
		&:before {
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top: -5px;
			left: 1px;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-bottom: 5px solid #333;
		}
	}
	#product_upc_image {
        left: 0;
        width: 200px;
        top: 48%;
        @media(max-width: $break-sm){
            left: 0;
            top: 15%;
        }
		&:before {
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top: -5px;
			left: 1px;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-bottom: 5px solid #333;
		}
	}
	#product_code {
        position: relative;
		img {
			max-height: 126px;
			width: auto !important;
			margin: 0 auto;
		}
	}
    .help-tip {
		background-color: #000;
		border-radius: 50%;
		cursor: default;
		font-size: 14px;
		height: 18px;
		left: 100px;
		line-height: 18px;
		text-align: center;
		top: 0px;
		width: 18px;
		font-weight: bold;
		color: #fff;
		z-index: 5000;
		margin-right: 12px;
		margin-left: 5px;
		padding: 0px 4px;
	}
    
    .dobContainer{
        display: inline-block;
        width: 40%;
        padding-left: 5px;
        position: relative;
        
        @media(max-width: $break-sm){
            display: block;
            width: auto;
            padding-left: 0;
        }
        
        .form_row {
            width: auto;
            position: relative;
            top: -4px;
            
            &.has-feedback{
                padding-bottom: 0;
                position: static !important;
            }
            
            @media(max-width: $break-sm){
                    display: inline-block;
                }
            
            select{
                padding: 5px;
            }
            
            .month{
                margin-right: 6px;
            }
            
        }
        
        &.groupBoxError{
            padding-bottom: 65px;
            
            #banSignUp_year-error{
                    bottom: 40px;
                left: 5px;
            }
            
            #banSignUp_month-error{
                    bottom: 20px;
                left: 5px;
            }
            
            #banSignUp_day-error{
                    bottom: 0;
                left: 5px;
            }
        }
        
          &.groupBoxError{
            padding-bottom: 65px;
            
            #banContactUs_year-error{
                    bottom: 40px;
                left: 5px;
            }
            
            #banContactUs_month-error{
                    bottom: 20px;
                left: 5px;
            }
            
            #banContactUs_day-error{
                    bottom: 0;
                left: 5px;
            }
        }
    }
    
    .form_row {
        display: inline-block;
        width: 40%;
        
        &.has-feedback{
            padding-bottom: 20px;
            position: relative;
            
            .help-block.error{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                color: red;
            }
        }
        
        @media(max-width: $break-sm){
                    display: block;
            width: auto;
                }
        
        .form_leftcollabel {
            clear: both;
            margin-top: 15px;
            font-weight: bold !important;
            color: #000;
        }
        .form_leftcolmark {
            display: none;
        }
        .form_rightcol{
                .selectContainer{
                    width: 204px;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
                    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
                    border-radius: 0px;
                    color: #555;
                    display: inline-block;
                    font-size: 14px;
                    height: 30px;
                    line-height: 20px;
                    margin-bottom: 10px;
                    padding: 4px 6px;
                    vertical-align: middle;
                }
            .form_rightcol_wrapper{
                .form_field_text {
                    width: 190px;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
                    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
                    border-radius: 0px;
                    color: #555;
                    display: inline-block;
                    font-size: 14px;
                    height: 20px;
                    line-height: 20px;
                    margin-bottom: 10px;
                    padding: 4px 6px;
                    vertical-align: middle;
                }
            }
            .form_button_submit {
                    width: 190px;
                    height: 44px;
                    background-color: #b5be33;
                    border: 2px solid #4d2b6c;
                    border-radius: 5px;
                    color: #fff;
                    cursor: pointer;
                    font-weight: bold;
                    padding: 10px;
            }
        }
    }
    .form_row_description {
        display: none;
    }
}
.pageHead {
    margin-bottom: 0 !important;
    .g-PageTitle__titleBlock__titleBox__title {
        margin-bottom: 0 !important;
    }
}
.sideHeading {
    margin-bottom: 0 !important;
    h2{
        font-size: 21px;
        font-weight:  bold;   
    }
}
.centerHead {
    h2 {
        line-height: 28px;
        font-size: 28px;
        font-weight: 700;
    }
}

.loader-section {
	position: fixed;
    z-index: 99999;
    overflow: visible;
    margin: auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    
    &.transparent{
        background-color: rgba(0,0,0,0);
    }
    &.opaque{
        background-color: rgba(255,255,255,1);
    }
    .g-Section__inner {
        position: absolute;
        left: 0;
        right: 0;
        top: 10%;
    }
    .loader{
        position: relative;
        background-image: url("/content/dam/sites/kaousa/www-feelbanfresh-com/us/global/ban-loader.gif");
        background-size: auto;
        background-position: center;
        border: 0;
  	     z-index: 100 !important;
  	     height: 200px;
        background-repeat: no-repeat;
    }
}
.is-authorring .loader-section {
	display: block;
    position: relative;
}