@charset "UTF-8";
/*****************************
  Clientlibs config
 *****************************/
/*
 setting
 （上書き禁止）
 */
/*
 common veriable
 （共通変数・任意）
 */
/* design priciples */
/*****************************
  principles
 *****************************/
/*
 design principles
 （サイト、ページ別に上書きを許可）
 */
/*****************************
  Content Color set (light)
 *****************************/
/* Body */
/* Contents Area */
/* Link */
/* Button */
/* Accordion */
/* TileLink */
/* NewsIndex */
/* TelephoneCallItem */
/* FullwidthVisuals&Carousel */
/* Label/Tag */
/* Option */
/* Brand Header */
/* Local Navigation */
/* Breadcrumbs */
/* Brand Footer */
/* Page Top */
/*****************************
  principles font-family ゴシック
 *****************************/
/*
 Break-Point
 @param $point (sm, md, lg)
 */
/*
 Font-Size
 @param $level
        (lv1, lv2, lv3, lv4, lv5, lv6, body, caption)
 */
/*
 Link
 */
/*
 AreaLink
 */
/*
 Button
 */
/*
  gutterWrapper (Column)に対してガターマージンをセット
  @param $level s,m,l,xl,reset
*/
/*
  gutterInner (Column)に対してガターマージンをセット
  @param $level s,m,l,xl,reset
*/
/*
  gutterItemWrapperに対してマージンをセット
  @param $resetFlg マージンリセットフラグ
*/
/*
  gutterInnerに対してマージンをセット
  @param $resetFlg マージンリセットフラグ
*/
/*
  上マージン.
  @param $level s,m,l,xl
*/
/*
  下マージン.
  @param $level s,m,l,xl
*/
/*
  左マージン.
  @param $level s,m,l,xl
*/
/*
  右マージン.
  @param $level s,m,l,xl
*/
/*
 Corner Radius（※廃止予定）
 @param $size (ss, s, m, l, ll)
 */
/*
 Background画像をセット
 @param $type(default, repeat)
 */
/*
 Image(or Movie) Text Pack(Horizontal)内のHeadingTitle
 @param $imagePosition(left, right)
 */
/*
  シャドウ.
  @param $pattern A,B,none
*/
/*
  ボタン用シャドウ.
  @param $visible true,false
*/
/* ------------------------- TOC
Almighty
 - Margin
 - Padding
 - Width
 - Background-color
 - Text-align
 - Font-Size
 - Font-Color
-------------------------- */
/* Hide ============================== */
@media only screen and (min-width: 1025px) {
  .opt-hide-lg {
    display: none;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-hide-md {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .opt-hide-sm {
    display: none;
  }
}

/* Margin ============================== */
.opt-mg0 {
  margin: 0;
}

.opt-mg10 {
  margin: 10px;
}

.opt-mg20 {
  margin: 20px;
}

.opt-mg30 {
  margin: 30px;
}

.opt-mg40 {
  margin: 40px;
}

.opt-mg50 {
  margin: 50px;
}

.opt-mg60 {
  margin: 60px;
}

.opt-mg70 {
  margin: 70px;
}

.opt-mg80 {
  margin: 80px;
}

.opt-mg90 {
  margin: 90px;
}

.opt-mg100 {
  margin: 100px;
}

.opt-mt0 {
  margin-top: 0;
}

.opt-mt10 {
  margin-top: 10px;
}

.opt-mt20 {
  margin-top: 20px;
}

.opt-mt30 {
  margin-top: 30px;
}

.opt-mt40 {
  margin-top: 40px;
}

.opt-mt50 {
  margin-top: 50px;
}

.opt-mt60 {
  margin-top: 60px;
}

.opt-mt70 {
  margin-top: 70px;
}

.opt-mt80 {
  margin-top: 80px;
}

.opt-mt90 {
  margin-top: 90px;
}

.opt-mt100 {
  margin-top: 100px;
}

.opt-ml0 {
  margin-left: 0;
}

.opt-ml10 {
  margin-left: 10px;
}

.opt-ml20 {
  margin-left: 20px;
}

.opt-ml30 {
  margin-left: 30px;
}

.opt-ml40 {
  margin-left: 40px;
}

.opt-ml50 {
  margin-left: 50px;
}

.opt-ml60 {
  margin-left: 60px;
}

.opt-ml70 {
  margin-left: 70px;
}

.opt-ml80 {
  margin-left: 80px;
}

.opt-ml90 {
  margin-left: 90px;
}

.opt-ml100 {
  margin-left: 100px;
}

.opt-mr0 {
  margin-right: 0;
}

.opt-mr10 {
  margin-right: 10px;
}

.opt-mr20 {
  margin-right: 20px;
}

.opt-mr30 {
  margin-right: 30px;
}

.opt-mr40 {
  margin-right: 40px;
}

.opt-mr50 {
  margin-right: 50px;
}

.opt-mr60 {
  margin-right: 60px;
}

.opt-mr70 {
  margin-right: 70px;
}

.opt-mr80 {
  margin-right: 80px;
}

.opt-mr90 {
  margin-right: 90px;
}

.opt-mr100 {
  margin-right: 100px;
}

.opt-mb0 {
  margin-bottom: 0;
}

.opt-mb10 {
  margin-bottom: 10px;
}

.opt-mb20 {
  margin-bottom: 20px;
}

.opt-mb30 {
  margin-bottom: 30px;
}

.opt-mb40 {
  margin-bottom: 40px;
}

.opt-mb50 {
  margin-bottom: 50px;
}

.opt-mb60 {
  margin-bottom: 60px;
}

.opt-mb70 {
  margin-bottom: 70px;
}

.opt-mb80 {
  margin-bottom: 80px;
}

.opt-mb90 {
  margin-bottom: 90px;
}

.opt-mb100 {
  margin-bottom: 100px;
}

/* Padding ============================== */
.opt-pd0 {
  padding: 0;
}

.opt-pd10 {
  padding: 10px;
}

.opt-pd20 {
  padding: 20px;
}

.opt-pd30 {
  padding: 30px;
}

.opt-pd40 {
  padding: 40px;
}

.opt-pd50 {
  padding: 50px;
}

.opt-pd60 {
  padding: 60px;
}

.opt-pd70 {
  padding: 70px;
}

.opt-pd80 {
  padding: 80px;
}

.opt-pd90 {
  padding: 90px;
}

.opt-pd100 {
  padding: 100px;
}

.opt-pt0 {
  padding-top: 0;
}

.opt-pt10 {
  padding-top: 10px;
}

.opt-pt20 {
  padding-top: 20px;
}

.opt-pt30 {
  padding-top: 30px;
}

.opt-pt40 {
  padding-top: 40px;
}

.opt-pt50 {
  padding-top: 50px;
}

.opt-pt60 {
  padding-top: 60px;
}

.opt-pt70 {
  padding-top: 70px;
}

.opt-pt80 {
  padding-top: 80px;
}

.opt-pt90 {
  padding-top: 90px;
}

.opt-pt100 {
  padding-top: 100px;
}

.opt-pl0 {
  padding-left: 0;
}

.opt-pl10 {
  padding-left: 10px;
}

.opt-pl20 {
  padding-left: 20px;
}

.opt-pl30 {
  padding-left: 30px;
}

.opt-pl40 {
  padding-left: 40px;
}

.opt-pl50 {
  padding-left: 50px;
}

.opt-pl60 {
  padding-left: 60px;
}

.opt-pl70 {
  padding-left: 70px;
}

.opt-pl80 {
  padding-left: 80px;
}

.opt-pl90 {
  padding-left: 90px;
}

.opt-pl100 {
  padding-left: 100px;
}

.opt-pr0 {
  padding-right: 0;
}

.opt-pr10 {
  padding-right: 10px;
}

.opt-pr20 {
  padding-right: 20px;
}

.opt-pr30 {
  padding-right: 30px;
}

.opt-pr40 {
  padding-right: 40px;
}

.opt-pr50 {
  padding-right: 50px;
}

.opt-pr60 {
  padding-right: 60px;
}

.opt-pr70 {
  padding-right: 70px;
}

.opt-pr80 {
  padding-right: 80px;
}

.opt-pr90 {
  padding-right: 90px;
}

.opt-pr100 {
  padding-right: 100px;
}

.opt-pb0 {
  padding-bottom: 0;
}

.opt-pb10 {
  padding-bottom: 10px;
}

.opt-pb20 {
  padding-bottom: 20px;
}

.opt-pb30 {
  padding-bottom: 30px;
}

.opt-pb40 {
  padding-bottom: 40px;
}

.opt-pb50 {
  padding-bottom: 50px;
}

.opt-pb60 {
  padding-bottom: 60px;
}

.opt-pb70 {
  padding-bottom: 70px;
}

.opt-pb80 {
  padding-bottom: 80px;
}

.opt-pb90 {
  padding-bottom: 90px;
}

.opt-pb100 {
  padding-bottom: 100px;
}

/* Width ============================== */
.opt-w5p {
  width: 5%;
}

.opt-w10p {
  width: 10%;
}

.opt-w15p {
  width: 15%;
}

.opt-w20p {
  width: 20%;
}

.opt-w25p {
  width: 25%;
}

.opt-w30p {
  width: 30%;
}

.opt-w40p {
  width: 40%;
}

.opt-w50p {
  width: 50%;
}

.opt-w60p {
  width: 60%;
}

.opt-w70p {
  width: 70%;
}

.opt-w80p {
  width: 80%;
}

.opt-w90p {
  width: 90%;
}

.opt-w100p {
  width: 100%;
}

@media only screen and (max-width: 640px) {
  .opt-sm-w5p {
    width: 5%;
  }

  .opt-sm-w10p {
    width: 10%;
  }

  .opt-sm-w15p {
    width: 15%;
  }

  .opt-sm-w20p {
    width: 20%;
  }

  .opt-sm-w25p {
    width: 25%;
  }

  .opt-sm-w30p {
    width: 30%;
  }

  .opt-sm-w40p {
    width: 40%;
  }

  .opt-sm-w50p {
    width: 50%;
  }

  .opt-sm-w60p {
    width: 60%;
  }

  .opt-sm-w70p {
    width: 70%;
  }

  .opt-sm-w80p {
    width: 80%;
  }

  .opt-sm-w90p {
    width: 90%;
  }

  .opt-sm-w100p {
    width: 100%;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-w5p {
    width: 5%;
  }

  .opt-md-w10p {
    width: 10%;
  }

  .opt-md-w15p {
    width: 15%;
  }

  .opt-md-w20p {
    width: 20%;
  }

  .opt-md-w25p {
    width: 25%;
  }

  .opt-md-w30p {
    width: 30%;
  }

  .opt-md-w40p {
    width: 40%;
  }

  .opt-md-w50p {
    width: 50%;
  }

  .opt-md-w60p {
    width: 60%;
  }

  .opt-md-w70p {
    width: 70%;
  }

  .opt-md-w80p {
    width: 80%;
  }

  .opt-md-w90p {
    width: 90%;
  }

  .opt-md-w100p {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-w5p {
    width: 5%;
  }

  .opt-lg-w10p {
    width: 10%;
  }

  .opt-lg-w15p {
    width: 15%;
  }

  .opt-lg-w20p {
    width: 20%;
  }

  .opt-lg-w25p {
    width: 25%;
  }

  .opt-lg-w30p {
    width: 30%;
  }

  .opt-lg-w40p {
    width: 40%;
  }

  .opt-lg-w50p {
    width: 50%;
  }

  .opt-lg-w60p {
    width: 60%;
  }

  .opt-lg-w70p {
    width: 70%;
  }

  .opt-lg-w80p {
    width: 80%;
  }

  .opt-lg-w90p {
    width: 90%;
  }

  .opt-lg-w100p {
    width: 100%;
  }
}
/* Text-align ============================== */
.opt-al_l {
  text-align: left;
}

.opt-al_r {
  text-align: right;
}

.opt-al_c {
  text-align: center;
}

.opt-mg-at {
  margin-left: auto;
  margin-right: auto;
}

.opt-mg-l {
  margin-left: 0;
  margin-right: auto;
}

.opt-mg-r {
  margin-left: auto;
  margin-right: 0;
}

@media only screen and (max-width: 640px) {
  .opt-sm-al_l {
    text-align: left;
  }

  .opt-sm-al_r {
    text-align: right;
  }

  .opt-sm-al_c {
    text-align: center;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-md-al_l {
    text-align: left;
  }

  .opt-md-al_r {
    text-align: right;
  }

  .opt-md-al_c {
    text-align: center;
  }
}
@media only screen and (min-width: 1025px) {
  .opt-lg-al_l {
    text-align: left;
  }

  .opt-lg-al_r {
    text-align: right;
  }

  .opt-lg-al_c {
    text-align: center;
  }
}
/* Font-Size ============================== */
.opt-fs_h_lv1 {
  font-family: "FOT-UD角ゴ_ラージ Pro DB", UDKakugo_LargePro-DB, sans-serif;
}
@media only screen and (min-width: 1025px) {
  .opt-fs_h_lv1 {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_h_lv1 {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_h_lv1 {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}

.opt-fs_h_lv2 {
  font-family: "FOT-UD角ゴ_ラージ Pro DB", UDKakugo_LargePro-DB, sans-serif;
}
@media only screen and (min-width: 1025px) {
  .opt-fs_h_lv2 {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.2em;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_h_lv2 {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.2em;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_h_lv2 {
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.2em;
  }
}

.opt-fs_h_lv3 {
  font-family: "FOT-UD角ゴ_ラージ Pro DB", UDKakugo_LargePro-DB, sans-serif;
}
@media only screen and (min-width: 1025px) {
  .opt-fs_h_lv3 {
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_h_lv3 {
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_h_lv3 {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }
}

.opt-fs_h_lv4 {
  font-family: "FOT-UD角ゴ_ラージ Pro DB", UDKakugo_LargePro-DB, sans-serif;
}
@media only screen and (min-width: 1025px) {
  .opt-fs_h_lv4 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_h_lv4 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_h_lv4 {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}

.opt-fs_h_lv5 {
  font-family: "FOT-UD角ゴ_ラージ Pro DB", UDKakugo_LargePro-DB, sans-serif;
}
@media only screen and (min-width: 1025px) {
  .opt-fs_h_lv5 {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_h_lv5 {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_h_lv5 {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: normal;
  }
}

.opt-fs_h_lv6 {
  font-family: "FOT-UD角ゴ_ラージ Pro DB", UDKakugo_LargePro-DB, sans-serif;
}
@media only screen and (min-width: 1025px) {
  .opt-fs_h_lv6 {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_h_lv6 {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_h_lv6 {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }
}

@media only screen and (min-width: 1025px) {
  .opt-fs_body {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.1em;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_body {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.1em;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_body {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.1em;
  }
}

@media only screen and (min-width: 1025px) {
  .opt-fs_caption {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.1em;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .opt-fs_caption {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.1em;
  }
}
@media only screen and (max-width: 640px) {
  .opt-fs_caption {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.1em;
  }
}

/* for In Place Editor ============================== */
.opt-fontcolor--01 {
  color: #FFF;
}

.opt-fontcolor--02 {
  color: #433f35;
}

.opt-fontcolor--03 {
  color: #5a2f0c;
}

.opt-fontcolor--04 {
  color: #CCC;
}

.opt-fontcolor--05 {
  color: #999;
}

.opt-fontcolor--06 {
  color: #666;
}

.opt-fontcolor--07 {
  color: #333;
}

.opt-fontcolor--08 {
  color: #000;
}

.opt-fontcolor--09 {
  color: #00B48C;
}

.opt-fontcolor--10 {
  color: #FF6600;
}

.opt-fontcolor--11 {
  color: #039BE5;
}

.opt-fontcolor--12 {
  color: #F44336;
}

.opt-fontsize--xs {
  font-size: 0.5em;
}

.opt-fontsize--s {
  font-size: 0.75em;
}

.opt-fontsize--l {
  font-size: 1.25em;
}

.opt-fontsize--xl {
  font-size: 1.5em;
}

.opt-fontsize--xxl {
  font-size: 1.75em;
}

.opt-fontsize--xxxl {
  font-size: 2em;
}

.opt-fontsize--xxxxl {
  font-size: 2.5em;
}

.opt-fontfamily--01 {
  font-family: "UD新ゴ R", "UD Shin Go Regular", sans-serif;
}

.opt-fontfamily--02 {
  font-family: "UD新ゴ M", "UD Shin Go Medium", sans-serif;
}

.opt-fontfamily--03 {
  font-family: "UD黎ミン R", "UD Reimin Regular", serif;
}

.opt-fontfamily--04 {
  font-family: "UD黎ミン M", "UD Reimin Medium", serif;
}

.opt-fontfamily--05 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.opt-fontfamily--06 {
  font-family: "UD新ゴ B", "UD Shin Go Bold", sans-serif;
}

/* Line ============================== */
/* Border Radius ============================== */
/* Shadow ============================== */
